<div class="row">
  <div class="col">
    <h4><%= monster_action['name'] %> </h4>
    <%= monster_action['desc'] %>
  </div>
</div>
<% if monster_action['attack_bonus'] %>
  <div class="row pt-1 pb-4">
    <div class="col">
      <strong>Attack Bonus </strong>
      +<%= monster_action['attack_bonus'] %>
    </div>
  </div>
<% end %>
<% if monster_action['damage'] %>
  <div class="row pt-1 pb-4">
    <div class="col">
      <% monster_action['damage'].each do |damage| %>
        <strong>Damage </strong> <%= damage['damage_dice'] %>, <%= damage['damage_type']['name'] %>
      <% end %>
    </div>
  </div>
<% end %>
