<%= simple_form_for [:v1, @monster], validate: true do |form| %>
  <%= form.error_notification %>
  <%= form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="form-row">
      <div class="col">
        <%= form.input :name %>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <%= form.input :challenge_rating %>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <%= form.input :alignment %>
      </div>
    </div>

    <h3>Type</h3>
    <div class="form-row">
      <div class="col">
        <%= form.input :monster_type %>
      </div>
      <div class="col">
        <%= form.input :monster_subtype %>
      </div>
    </div>

    <h3>Statistics</h3>
    <%= form.simple_fields_for :stat_block do |stats_form| %>
      <h4>Stats</h4>
      <div class="form-row">
        <div class="col">
          <%= stats_form.input :armor_class %>
        </div>
        <div class="col">
          <%= stats_form.input :hit_points %>
        </div>
        <div class="col">
          <%= stats_form.input :hit_points_current %>
        </div>
        <div class="col">
          <%= stats_form.input :initiative %>
        </div>
        <div class="col">
          <%= stats_form.input :proficiency %>
        </div>
      </div>

      <h4>Abilities</h4>
      <div class="form-row">
        <div class="col-4 col-md-2">
          <%= stats_form.input :strength %>
        </div>
        <div class="col-4 col-md-2">
          <%= stats_form.input :dexterity %>
        </div>
        <div class="col-4 col-md-2">
          <%= stats_form.input :constitution %>
        </div>
        <div class="col-4 col-md-2">
          <%= stats_form.input :intelligence %>
        </div>
        <div class="col-4 col-md-2">
          <%= stats_form.input :wisdom %>
        </div>
        <div class="col-4 col-md-2">
          <%= stats_form.input :charisma %>
        </div>
      </div>

      <div class="form-row">
        <div class="col d-flex align-items-center justify-content-between">
          <%= stats_form.input :hit_dice_number %><strong> d </strong><%= stats_form.input :hit_dice_value %><strong> + </strong><%= stats_form.input :hit_dice_modifier %>
        </div>
      </div>

      <div class="form-row">
        <div class="col">
          <%= stats_form.input :speed %>
        </div>
      </div>
    <% end %>

    <div class="form-row">
      <div class="col">
        <%= form.input :senses %>
      </div>
      <div class="col">
        <%= form.input :languages %>
      </div>
        <div class="col">
          <%= form.input :size %>
        </div>
    </div>
    <div class="form-row">
      <div class="col-12 col-md-6">
        <%= form.input :damage_vulnerabilities %>
      </div>
      <div class="col-12 col-md-6">
        <%= form.input :damage_resistances %>
      </div>
      <div class="col-12 col-md-6">
        <%= form.input :damage_immunities %>
      </div>
      <div class="col-12 col-md-6">
        <%= form.input :condition_immunities %>
      </div>
    </div>

    <div class="form-row">
      <div class="p-3 mx-3 my-5 border-bottom border-top" id="prof_choices_container">
        <h3>Actions</h3>
        <%= form.simple_fields_for :monster_actions do |p_form| %>
          <%= render 'monster_action_fields', f: p_form %>
        <% end %>
        <div class='links'>
          <%= link_to_add_association 'Add Action', form, :monster_actions, class: "btn btn-info" %>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="p-3 mx-3 my-5 border-bottom border-top" id="prof_choices_container">
        <h3>Legendary Actions</h3>
        <%= form.input :legendary_description %>
        <%= form.simple_fields_for :monster_legendary_actions do |p_form| %>
          <%= render 'monster_legendary_action_fields', f: p_form %>
        <% end %>
        <div class='links'>
          <%= link_to_add_association 'Add Action', form, :monster_legendary_actions, class: "btn btn-info" %>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="p-3 mx-3 my-5 border-bottom border-top" id="prof_choices_container">
        <h3>Special Abilities</h3>
        <%= form.simple_fields_for :monster_special_abilities do |p_form| %>
          <%= render 'monster_special_ability_fields', f: p_form %>
        <% end %>
        <div class='links'>
          <%= link_to_add_association 'Add Action', form, :monster_special_abilities, class: "btn btn-info" %>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="p-3 mx-3 my-5 border-bottom border-top" id="prof_choices_container">
        <h3>Skills</h3>
        <%= form.simple_fields_for :skills do |p_form| %>
          <%= render 'skill_fields', f: p_form %>
        <% end %>
        <div class='links'>
          <%= link_to_add_association 'Add Skill', form, :skills, class: "btn btn-info" %>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= form.button :submit, class: 'btn btn-success mb-3' %>
  </div>
<% end %>
