<% title "Monster: #{@monster.name}" %>
<div class="grid g-2 pt-1 pb-2">
  <div class="g-col-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><%= link_to 'Dashboard', v1_dashboard_path %></li>
        <li class="breadcrumb-item"><%= link_to 'Monsters', v1_monsters_path %></li>
        <li class="breadcrumb-item active" aria-current="page"><%= @monster.name %></li>
      </ol>
    </nav>
  </div>
</div>
<div class="container">
  <div class="grid g-2 pt-1 pb-2">
    <div class="g-col-12">
      <h1 class='dnd-title'><%= @monster.name %></h1>
      <h2 class="dnd-subtitle">
        <%= @monster.size %> <%= @monster.monster_type %><%= " (#{@monster.monster_subtype})" if @monster.monster_subtype && @monster.monster_subtype != '' %>
        , <%= @monster.alignment.titleize %>
      </h2>
    </div>
  </div>

  <div class="grid g-2 pt-1 pb-2">
    <div class="g-col-12">
      <dl class='red'>
        <dd><strong>ArmorItems Class</strong> <%= @monster.armor_class %></dd>
        <dd><strong>Hit Points</strong> <%= @monster.hit_points %> (<%= @monster.hit_dice %>)</dd>
        <dd>
          <strong>Speed</strong>
          <% @monster.speeds.each do |speed| %>
            <%= speed.name.downcase != 'walk' ? "#{speed.name.downcase} " : ' ' %><%= speed.value == 1 ? '' : "#{speed.value} ft." %>
          <% end %>
        </dd>
      </dl>
    </div>
  </div>

  <div class="grid g-2 pt-1 pb-2">
    <div class="col-4 col-sm-2">
      <strong>STR</strong><br />
      <%= @monster.strength %>
    </div>
    <div class="col-4 col-sm-2">
      <strong>DEX</strong><br />
      <%= @monster.dexterity %>
    </div>
    <div class="col-4 col-sm-2">
      <strong>CON</strong><br />
      <%= @monster.constitution %>
    </div>
    <div class="col-4 col-sm-2">
      <strong>INT</strong><br />
      <%= @monster.intelligence %>
    </div>
    <div class="col-4 col-sm-2">
      <strong>WIS</strong><br />
      <%= @monster.wisdom %>
    </div>
    <div class="col-4 col-sm-2">
      <strong>CHA</strong><br />
      <%= @monster.charisma %>
    </div>
  </div>

  <div class="grid g-2 pt-1 pb-2">
    <div class="g-col-12">
      <dl class='red'>
        <% unless @monster.condition_immunities.empty? %>
          <dd><strong>Condition immunities</strong> <%= @monster.condition_immunities.map { |cond_imm|
            cond_imm.condition.name
          }.join(', ') %></dd>
        <% end %>
        <% unless @monster.saving_throws.empty? %>
          <dd><strong>Saving Throws</strong> <%= @monster.saving_throws.join(', ') %></dd>
        <% end %>
        <% unless @monster.skills.empty? %>
          <dd><strong>Skills</strong> <%= @monster.skills.join(', ') %></dd>
        <% end %>
        <% unless @monster.resistances.empty? %>
          <dd><strong>Damage resistances</strong> <%= @monster.resistances.join(', ') %></dd>
        <% end %>
        <% unless @monster.immunities.empty? %>
          <dd><strong>Damage immunities</strong> <%= @monster.immunities.join(', ') %></dd>
        <% end %>
        <% unless @monster.vulnerabilities.empty? %>
          <dd><strong>Damage vulnerabilities</strong> <%= @monster.vulnerabilities.join(', ') %></dd>
        <% end %>
        <dd>
          <strong>Senses</strong>&nbsp;
          <% @monster.senses.each do |sense| %>
            <%= sense.name %> <%= sense.value %>
          <% end %>
        </dd>
        <dd><strong>Languages</strong> <%= @monster.languages %></dd>
        <dd><strong>Challenge</strong> <%= @monster.challenge_rating %>
          (<%= number_with_delimiter(@monster.xp, delimiter: ',') %> xp)
        </dd>
      </dl>
    </div>
  </div>

  <% unless @monster.monster_actions.empty? %>
    <div class="grid g-2 pt-1 pb-2">
      <div class="g-col-12">
        <h3 class='dnd-section border-bottom border-primary'>Actions</h3>
        <dl>
          <% @monster.monster_actions.each do |monster_action| %>
            <dd>
              <strong><%= monster_action['name'] %>. </strong><%= monster_action['desc'] %>
            </dd>
          <% end %>
        </dl>
      </div>
    </div>
  <% end %>

  <% unless @monster.legendary_actions.empty? %>
    <div class="grid g-2 pt-1 pb-2">
      <div class="g-col-12">
        <h3 class='dnd-section border-bottom border-primary'>Legendary Actions</h3>
        <dl>
          <% @monster.legendary_actions.each do |monster_action| %>
            <dd>
              <strong><%= monster_action['name'] %>. </strong><%= monster_action['desc'] %>
            </dd>
          <% end %>
        </dl>
      </div>
    </div>
  <% end %>

  <% unless @monster.special_abilities.empty? %>
    <div class="grid g-2 pt-1 pb-2">
      <div class="g-col-12">
        <h3 class='dnd-section border-bottom border-primary'>Special Abilities</h3>
        <dl>
          <% @monster.special_abilities.each do |monster_action| %>
            <dd>
              <strong><%= monster_action['name'] %>. </strong><%= monster_action['desc'] %>
            </dd>
          <% end %>
        </dl>
      </div>
    </div>
  <% end %>

  <% unless @monster.reactions.empty? %>
    <div class="grid g-2 pt-1 pb-2">
      <div class="g-col-12">
        <h3 class='dnd-section border-bottom border-primary'>Special Abilities</h3>
        <dl>
          <% @monster.reactions.each do |monster_action| %>
            <dd>
              <strong><%= monster_action['name'] %>. </strong><%= monster_action['desc'] %>
            </dd>
          <% end %>
        </dl>
      </div>
    </div>
  <% end %>

  <div class="d-flex align-items-center justify-content-start py-3">
    <%#= link_to 'Edit', edit_v1_monster_path(@monster), class: 'btn btn-success' if policy(@monster).edit? %>
    <%= link_to 'Back', v1_monsters_path, class: 'btn btn-info' %>
  </div>
</div>
