<%= simple_form_for [:v1, @item], validate: true do |form| %>
  <%= form.error_notification %>
  <%= form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= form.input :name %>
    <%= form.input :description %>
    <%= form.input :category, collection: [
      "Adventuring Gear",
      "Armor",
      "Mounts and Vehicles",
      "Tools",
      "Weapon"
    ], prompt: "Select a category", selected: "Adventuring Gear" %>
    <%= form.input :sub_category %>
    <%= form.input :cost_unit %>
    <%= form.input :cost_value %>
    <%= form.input :weight %>

    <div class="py-4 items__armor" id="armorFields">
      <h4>Armor</h4>
      <div class="px-4">
        <%= form.input :armor_class %>
        <%= form.input :armor_dex_bonus %>
        <%= form.input :armor_max_bonus %>
        <%= form.input :armor_stealth_disadvantage %>
        <%= form.input :armor_str_minimum %>
      </div>
    </div>

    <div class="py-4 items__vehicles" id="vehicleFields">
      <h4>Mounts and Vehicles</h4>
      <div class="px-4">
        <%= form.input :vehicle_capacity %>
        <%= form.input :vehicle_speed %>
        <%= form.input :vehicle_speed_unit %>
      </div>
    </div>

    <div class="py-4 items__weapons" id="weaponFields">
      <h4>Weapons</h4>
      <div class="px-4">
        <%= form.input :category_range %>
        <%= form.input :weapon_damage_dice_count %>
        <%= form.input :weapon_damage_dice_value %>
        <%= form.input :weapon_damage_type %>
        <%= form.input :weapon_2h_damage_dice_count %>
        <%= form.input :weapon_2h_damage_dice_value %>
        <%= form.input :weapon_2h_damage_type %>
        <%= form.input :weapon_properties %>
        <%= form.input :weapon_range %>
        <%= form.input :weapon_range_long %>
        <%= form.input :weapon_range_normal %>
        <%= form.input :weapon_thrown_range_long %>
        <%= form.input :weapon_thrown_range_normal %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= form.button :submit, class: 'btn btn-success mb-3' %>
  </div>
<% end %>
<script>
  $(document).ready(function () {

  });
</script>
