<% title "Equipment: #{@item.name}" %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><%= link_to 'Dashboard', v1_dashboard_path %></li>
    <li class="breadcrumb-item"><%= link_to 'Equipment', v1_items_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @item.name %></li>
  </ol>
</nav>
<h1><%= @item.category %>: <%= @item.name %></h1>
<h3><%= @item.category_range %></h3>

<p>
  <strong>Cost:</strong>
  <% unless @item.cost.nil? %>
    <%= @item.cost.quantity %><%= @item.cost.unit %>
  <% end %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @item.weight %>
</p>

<% unless @item.rarity.nil? %>
  <p>
    <strong>Rarity:</strong>
    <%= @item.rarity %>
  </p>
<% end %>

<% if @item.category == 'Armor' %>
  <p>
    <strong>Armor class:</strong>
    <%= @item.armor_class.ac_base %>
  </p>

  <p>
    <strong>Dex bonus:</strong>
    <%= @item.armor_class.has_dex_bonus ? ' yes' : ' no' %>
  </p>

  <p>
    <strong>Max bonus:</strong>
    <%= @item.armor_class.max_dex_bonus %>
  </p>

  <p>
    <strong>Stealth disadvantage:</strong>
    <%= @item.stealth_disadvantage ? ' yes' : ' no' %>
  </p>

  <p>
    <strong>Str minimum:</strong>
    <%= @item.str_minimum %>
  </p>
<% end %>

<% if @item.category == 'Weapon' %>
  <p>
    <strong><%= @item.category_range %></strong>
  </p>

  <% unless @item.damage.nil? %>
    <p>
      <strong>Damage</strong> <%= @item.damage.damage_dice %> <%= @item.damage.damage_type %>
    </p>
  <% end %>

  <% unless @item.two_handed_damage.nil? %>
    <p>
      <strong>2H Damage</strong> <%= @item.two_handed_damage.damage_dice %> <%= @item.two_handed_damage.damage_type %>
    </p>
  <% end %>

  <% unless @item.item_range.nil? || @item.item_range.long.nil? %>
    <p>
      <strong>Range </strong> (<%= @item.item_range.normal %> / <%= @item.item_range.long %>)
    </p>
  <% end %>

  <% unless @item.item_throw_range.nil? %>
    <p>
      <strong>Thrown Range </strong> (<%= @item.item_throw_range.normal %> / <%= @item.item_throw_range.long %>)
    </p>
  <% end %>
<% end %>

<% if @item.category == 'Mounts and Vehicles' %>
  <p>
    <strong>Vehicle capacity:</strong>
    <%= @item.vehicle_capacity %>
  </p>

  <p>
    <strong>Vehicle speed:</strong>
    <%= @item.vehicle_speed %> <%= @item.vehicle_speed_unit %>
  </p>
<% end %>

<% unless @item.desc.nil? %>
  <% @item.desc.each do |paragraph| %>
    <%= paragraph %>
  <% end %>
<% end %>

<% unless @item.content_items.nil? %>
  <ul class='list-group-flush'>
    <% @item.content_items.each do |content_item| %>
      <li class="list-group-item"><%= content_item.quantity %> <%= content_item.name %></li>
    <% end %>
  </ul>
<% end %>

<div class="d-flex align-items-center justify-content-start py-3">
  <%#= link_to 'Edit', edit_v1_item_path(@item), class: 'btn btn-success' if policy(@item).edit? %>
  <%= link_to 'Back', v1_items_path, class: 'btn btn-info' %>
</div>
