<%= bootstrap_form_for @monster do |form| %>
  <% if monster.errors.any? %>
    <%= render 'shared/error-alert', record: monster, record_type: "monster" %>
  <% end %>
  
  <%= form.text_field :name %>
  <%= form.text_field :size %>
  <%= form.text_field :monster_type %>
  <%= form.text_field :monster_subtype %>
  <%= form.text_field :alignment %>
  <%= form.number_field :armor_class %>
  <%= form.number_field :hit_points %>
  <%= form.text_field :hit_dice %>
  <%= form.text_field :speed %>
  
  <%= form.number_field :strength %>
  <%= form.number_field :dexterity %>
  <%= form.number_field :constitution %>
  <%= form.number_field :intelligence %>
  <%= form.number_field :wisdom %>
  <%= form.number_field :charisma %>
  
  <%= form.text_field :damage_vulnerabilities %>
  <%= form.text_field :damage_resistances %>
  <%= form.text_field :damage_immunities %>
  <%= form.text_field :condition_immunities %>
  
  <%= form.text_field :senses %>
  <%= form.text_field :languages %>
  <%= form.number_field :challenge_rating %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
