<div class="card m-4">
  <div class="card-body">
    <div class="form-row">
      <div class="col">
        <%= f.input :name, required: true %>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <%= f.input :description, required: true %>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <%= f.input :attack_bonus %>
      </div>
      <div class="col">
        <%= f.input :damage_bonus %>
      </div>
      <div class="col">
        <%= f.input :damage_dice %>
      </div>
    </div>
    <%= link_to_remove_association "Remove", f, class: "btn btn-warning" %>
  </div>
</div>
