<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><%= link_to 'Dashboard', dashboard_path %></li>
    <li class="breadcrumb-item"><%= link_to 'Monsters', monsters_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Edit Monster</li>
  </ol>
</nav>
<h1>Edit - <small><em><%= @monster.name %></em></small></h1>
<%= render 'form', monster: @monster %>
<div class="admin__footer">
  <%= link_to 'Show', @monster, class: "btn btn-success" %>
  <%= link_to 'Back', monsters_path, class: "btn btn-primary" %>
  <%= link_to 'Dashboard', '/dashboard', class: "btn btn-info" %>
</div>
