<% title "Monsters" %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><%= link_to 'Dashboard', dashboard_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Monsters</li>
  </ol>
</nav>

<h1>Monsters</h1>
<%= render 'shared/search_form', url: monsters_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th class="d-none d-lg-table-cell">Size</th>
      <th>Type</th>
      <th class="d-none d-lg-table-cell">Subtype</th>
      <th class="d-none d-lg-table-cell">Alignment</th>
      <th class="d-none d-lg-table-cell">Armor class</th>
      <th class="d-none d-lg-table-cell">Hit points</th>
      <th class="d-none d-lg-table-cell">Hit dice</th>
      <th>Challenge rating</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @monsters.each do |monster| %>
      <tr>
        <td><%= monster.name %></td>
        <td class="d-none d-lg-table-cell"><%= monster.size %></td>
        <td><%= monster.monster_type.titleize %></td>
        <td class="d-none d-lg-table-cell"><%= monster.monster_subtype.titleize %></td>
        <td class="d-none d-lg-table-cell"><%= monster.alignment.titleize %></td>
        <td class="d-none d-lg-table-cell"><%= monster.stat_block.armor_class %></td>
        <td class="d-none d-lg-table-cell"><%= monster.stat_block.hit_points %></td>
        <td class="d-none d-lg-table-cell"><%= monster.hit_dice %></td>
        <td><%= monster.challenge_rating %></td>
        <td>
          <%= link_to 'Show', monster, class: "btn btn-sm btn-primary" %>
          <%= link_to 'Edit', edit_monster_path(monster), class: "btn btn-sm btn-success" if policy(monster).edit?  %>
          <%= link_to 'Destroy', monster, class: "btn btn-sm btn-danger", method: :delete, data: { confirm: 'Are you sure?' } if policy(monster).destroy? %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%== pagy_bootstrap_nav_js(@pagy) if @pagy.pages > 1 %>

<%= link_to 'New Monster', new_monster_path, class: "btn btn-lg btn-success" if policy(Monster).new? %>
