<p id="notice"><%= notice %></p>

<h1>Monsters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Size</th>
      <th>Type</th>
      <th>Subtype</th>
      <th>Alignment</th>
      <th>Armor class</th>
      <th>Hit points</th>
      <th>Hit dice</th>
      <th>Speed</th>
      <th>Strength</th>
      <th>Dexterity</th>
      <th>Constitution</th>
      <th>Intelligence</th>
      <th>Wisdom</th>
      <th>Charisma</th>
      <th>Damage vulnerabilities</th>
      <th>Damage resistances</th>
      <th>Damage immunities</th>
      <th>Condition immunities</th>
      <th>Senses</th>
      <th>Languages</th>
      <th>Challenge rating</th>
      <th>Api url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @monsters.each do |monster| %>
      <tr>
        <td><%= monster.name %></td>
        <td><%= monster.size %></td>
        <td><%= monster.type %></td>
        <td><%= monster.subtype %></td>
        <td><%= monster.alignment %></td>
        <td><%= monster.armor_class %></td>
        <td><%= monster.hit_points %></td>
        <td><%= monster.hit_dice %></td>
        <td><%= monster.speed %></td>
        <td><%= monster.strength %></td>
        <td><%= monster.dexterity %></td>
        <td><%= monster.constitution %></td>
        <td><%= monster.intelligence %></td>
        <td><%= monster.wisdom %></td>
        <td><%= monster.charisma %></td>
        <td><%= monster.damage_vulnerabilities %></td>
        <td><%= monster.damage_resistances %></td>
        <td><%= monster.damage_immunities %></td>
        <td><%= monster.condition_immunities %></td>
        <td><%= monster.senses %></td>
        <td><%= monster.languages %></td>
        <td><%= monster.challenge_rating %></td>
        <td><%= monster.api_url %></td>
        <td><%= link_to 'Show', monster %></td>
        <td><%= link_to 'Edit', edit_monster_path(monster) %></td>
        <td><%= link_to 'Destroy', monster, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Monster', new_monster_path %>
