<div class="container">
  <div class="row mb-3 pb-3 border-bottom">
    <div class="col">
      <h1>Adventure: <%= @adventure.name %></h1>
    </div>
  </div>

  <div class="row mb-3 pb-3 border-bottom">
    <div class="col">
      <p>
        <strong>Name:</strong> <%= @adventure.name %>
      </p>
      <p>
        <strong>Description:</strong> <%= @adventure.description %>
      </p>
      <p>
        <strong>Campaign:</strong> <%= link_to @adventure.campaign.name, v1_dnd_class_path(@adventure.campaign) %>
      </p>
    </div>
  </div>

  <div class="row mb-3 pb-3 border-bottom">
    <div class="col-12">
      <h2>Characters</h2>
    </div>
    <div class="col-12 col-sm-6">
      <h3>Player Characters</h3>
      <% @adventure.characters.where(type: 'PlayerCharacter').each do |pc| %>
        <div class="row">
          <div class="col">
            <strong><%= pc.name %></strong>; <%= pc.level %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-12 col-sm-6">
      <h3>Main NPCs</h3>
      <% @adventure.characters.where(type: 'NonPlayerCharacter').each do |npc| %>
        <div class="row">
          <div class="col">
            <%= npc.role %>: <strong><%= npc.name %></strong>; <%= npc.level %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <h3>Encounters</h3>
  <%= render 'shared/search_form', url: v1_campaign_adventure_path(@campaign, @adventure) %>
  <table>
    <thead>
    <tr>
      <th>Location</th>
      <th>Name</th>
      <th>XP</th>
      <th class="d-none d-lg-table-cell">Description</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @encounters.each do |encounter| %>
      <tr>
        <td><%= encounter.location %></td>
        <td><%= encounter.name %></td>
        <td><%= encounter.xp %></td>
        <td class="d-none d-lg-table-cell"><%= encounter.description %></td>
        <td>
          <div class="btn-group btn-group-sm" role="group" aria-label="Encounter Actions">
            <%= link_to 'View', v1_campaign_adventure_encounter_path(@campaign, @adventure, encounter),
                        class: "btn btn-sm btn-primary" %>
            <%= link_to 'Edit', edit_v1_campaign_adventure_encounter_path(@campaign, @adventure, encounter),
                        class: "btn btn-sm btn-success" if policy(encounter).edit? %>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
  <%= link_to 'New Encounter', new_v1_campaign_adventure_encounter_path(@campaign, @adventure), class: "btn btn-lg btn-success" if policy(Encounter).new? %>

  <div class="d-flex align-items-center justify-content-start py-3">
    <%= link_to 'Edit', edit_v1_campaign_adventure_path(@campaign, @adventure), class: "btn btn-success" if policy(@adventure).edit? %>
  </div>
</div>