<%= simple_form_for @user, validate: true do |form| %>
  <%= form.error_notification %>
  <%= form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>

  <h2><%= 'Admin' if current_user.admin? %></h4>
  <h2><%= 'Dungeon Master' if current_user.dungeon_master? %></h4>
  <h2><%= 'Player' if current_user.player? %></h4>
  
  <div class="form-inputs">
    <%= form.input :email %>
    <%= form.input :name, required: true %>
    <%= form.input :username, required: true %>

    <% if current_user.admin? %>
        <%= form.input :role, collection: [['Player', 'player'], ['Dungeon Master', 'dungeon_master'], ['Admin', 'admin']] %>
    <% end %>
  </div>
  
  <div class="form-actions">
    <%= form.button :submit, class: 'btn btn-success mb-2' %>
  </div>
<% end %>

<script>
  $('#change_role_select').select2();
</script>
