<%= simple_form_for @user, validate: true do |form| %>
  <%= form.error_notification %>
  <%= form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>

  <h2><%= 'Admin' if current_user.admin? %></h2>
  <h2><%= 'Dungeon Master' if current_user.dungeon_master? %></h2>

  <div class="form-inputs">
    <%= form.input :email, required: true %>
    <%= form.input :name, required: true %>
    <%= form.input :username, required: true %>
    <%= form.input :location %>
    <%= form.input :info %>
  </div>

  <div class="form-actions">
    <%= form.button :submit, class: 'btn btn-success mb-2' %>
  </div>
<% end %>
