<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><%= link_to 'Dashboard', v1_dashboard_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Users</li>
  </ol>
</nav>
<h1>Users</h1>
<%= render 'shared/search_form', url: users_path %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th class="d-none d-lg-table-cell">Campaigns</th>
      <th class="d-none d-lg-table-cell">Player Characters</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <% user_role_class = "" %>
      <% user_role_class = "table-primary" if user.admin? %>
      <% user_role_class = "table-success" if user.dungeon_master? %>
      <% user_role_class = "table-danger" if user.deleted_at? %>
      <tr class="<%= user_role_class %>">
        <td><%= user.name %></td>
        <td><%= user.role.capitalize %></td>
        <td class="d-none d-lg-table-cell"><%= user.campaigns.count %></td>
        <td class="d-none d-lg-table-cell">0</td>
        <td>
          <%= link_to 'Show', user, class: "btn btn-sm btn-primary" %>
          <%= link_to 'Edit', edit_user_path(user), class: "btn btn-sm btn-success" if policy(user).edit? %>
          <% if user.deleted_at? %>
              <%= link_to 'Activate', user_path(user, user: { deleted_at: nil }), class: "btn btn-sm btn-success", method: :put, data: { confirm: "Reactivate the account for #{user.email}?" } %>
            <% else %>
              <%= link_to 'Deactivate', user_path(user), class: "btn btn-sm btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
