<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><%= link_to 'Dashboard', v1_dashboard_path %></li>
    <li class="breadcrumb-item"><%= link_to 'Users', users_path %></li>
    <li class="breadcrumb-item active" aria-current="page">
      <%= @user.name %>
    </li>
  </ol>
</nav>
<div class='wrapper'>
  <div class="wrapper__body">
    <h1 class="wrapper__body--title">
      <%= @user.name %>
      <% if @user.admin? %>
        <span class="badge badge-pill badge-success">Admin</span>
      <% elsif @user.dungeon_master? %>
        <span class="badge badge-pill badge-info">Dungeon Master</span>
      <% else %>
        <span class="badge badge-pill badge-warning">Player</span>
      <% end %>
    </h1>
    <h3>
      <%= @user.created_at.strftime('%B %e, %Y') %>
    </h3>
    <p class="wrapper__body--text">
      <%= sanitize @user.username %>
    </p>
  </div>
  <div class="wrapper__footer">
    <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-success" %>
    <%= link_to 'Back', users_path, class: "btn btn-primary" %>
    <% if @user.deleted_at? %>
      <%= link_to 'Activate',
                  user_path(@user, user: { deleted_at: nil }),
                  class: "btn btn-sm btn-success",
                  method: :put,
                  data: { confirm: "Reactivate the account for #{@user.email}?" } %>
    <% else %>
      <%= link_to 'Deactivate',
                  user_path(@user),
                  class: "btn btn-sm btn-danger",
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
</div>
