<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <%= active_link_to 'Home', '/', active: :exclusive, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= active_link_to 'Dashboard', v1_dashboard_path, active: :exclusive, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= active_link_to 'Campaigns', v1_campaigns_path, active: :exclusive, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= active_link_to 'Monsters', v1_monsters_path, active: :exclusive, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= active_link_to 'Equipment', v1_items_path, active: :exclusive, class: 'nav-link' %>
        <ul class="nav flex-column pl-3">
          <li class="nav-item">
            <%= active_link_to 'Adventuring Gear', v1_gear_items_path, active: :exclusive, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= active_link_to 'Armor', v1_armor_items_path, active: :exclusive, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= active_link_to 'Magic Items', v1_magic_items_path, active: :exclusive, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= active_link_to 'Tools', v1_tool_items_path, active: :exclusive, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= active_link_to 'Mounts and Vehicles', v1_vehicle_items_path, active: :exclusive, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= active_link_to 'Weapons', v1_weapon_items_path, active: :exclusive, class: 'nav-link' %>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <%= active_link_to 'Classes', v1_dnd_classes_path, active: :exclusive, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= active_link_to 'Spells', v1_spells_path, active: :exclusive, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= active_link_to 'Races', v1_races_path, active: :exclusive, class: 'nav-link' %>
      </li>
    </ul>

    <% if current_user && current_user.admin? %>
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>Admin</span>
        <a class="d-flex align-items-center text-muted" href="#">
          <span data-feather="plus-circle"></span>
        </a>
      </h6>
      <ul class="nav flex-column mb-2">
        <li class="nav-item">
          <%= active_link_to 'Users', users_path, active: :exclusive, class: 'nav-link' %>
        </li>
      </ul>
    <% end %>
  </div>
</nav>
