<%= form_tag(url, method: :get, class: 'form-inline') do %>
  <div class="d-flex mb-2 w-100">
    <%= label_tag :search, nil, class: 'visually-hidden' %>
    <div class="input-group me-sm-2 w-100">
      <%= text_field_tag :search, params[:search], class: 'form-control' %>
      <%= link_to url, class: 'btn btn-outline-primary bg-white' do %>
        <%= image_tag 'svg/x.svg' %>
      <% end %>
    </div>
    <%= submit_tag 'Search', name: nil, class: 'btn btn-primary' %>
  </div>
<% end %>
