<div class="nested-fields">
  <div class="form-inputs">
    <div class="form-row">
      <div class="col">
        <%= f.input :name %>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <%= f.input :description %>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <%= f.association :characters,
                          collection: PlayerCharacter.joins(:campaigns).where(campaigns: {id: f.object.campaign.id}),
                          include_blank: false,
                          include_hidden: false,
                          input_html: { class: "pc-selection" } %>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <%= f.association :characters,
                          collection: NonPlayerCharacter.where(user_id: f.object.campaign.user.id),
                          include_blank: false,
                          include_hidden: false,
                          input_html: { class: "npc-selection" } %>
      </div>
    </div>

    <h3>Encounters</h3>
    <div class="form-row">
      <div class="p-3 border-bottom border-top" id="encounters_container">
        <%= f.simple_fields_for :encounters do |encounter_form| %>
          <%= render 'encounters/encounter_fields', f: encounter_form %>
        <% end %>
        <div class='links'>
          <%= link_to_add_association 'Add Encounter',
                                      f,
                                      :encounters,
                                      class: "btn btn-success",
                                      partial: 'encounters/encounter_fields' %>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <%= link_to_remove_association "Remove Encounter", f, class: "btn btn-warning mb-3" %>
      </div>
    </div>
  </div>
</div>