<% title "Adventures" %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><%= link_to 'Dashboard', dashboard_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Adventures</li>
  </ol>
</nav>

<h1>Adventures</h1>
<%= render 'shared/search_form', url: adventures_path %>

<table>
  <thead>
    <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Campaign</th>
      
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @adventures.each do |adventure| %>
      <tr>
                  <td><%= adventure.name %></td>
                  <td><%= adventure.description %></td>
                  <td><%= adventure.campaign_id %></td>
        
        <td>
          <%= link_to 'Show', adventure, class: "btn btn-sm btn-primary" %>
          <%= link_to 'Edit', edit_adventure_path(adventure), class: "btn btn-sm btn-success" if policy(adventure).edit? %>
          <%= link_to 'Destroy', adventure, class: "btn btn-sm btn-danger", method: :delete, data: { confirm: 'Are you sure?' } if policy(adventure).destroy? %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%== pagy_bootstrap_nav_js(@pagy) if @pagy.pages > 1 %>
<%= link_to 'New Adventure', new_adventure_path, class: "btn btn-lg btn-success" if policy(Adventure).new? %>
