<% title "Adventure: " + @adventure.name %>
<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><%= link_to 'Dashboard', dashboard_path %></li>
        <li class="breadcrumb-item"><%= link_to 'Campaigns', campaigns_path %></li>
        <li class="breadcrumb-item"><%= link_to @campaign.name, campaign_adventures_path(@campaign) %></li>
        <li class="breadcrumb-item active" aria-current="page"><%= @adventure.name %></li>
      </ol>
    </nav>
  </div>
</div>
<div class="container">
  <div class="row mb-3 pb-3 border-bottom">
    <div class="col">
      <h1>Adventure: <%= @adventure.name %></h1>
    </div>
  </div>

  <div class="row mb-3 pb-3 border-bottom">
    <div class="col">
      <p>
        <strong>Name:</strong> <%= @adventure.name %>
      </p>
      <p>
        <strong>Description:</strong> <%= @adventure.description %>
      </p>
      <p>
        <strong>Campaign:</strong> <%= link_to @adventure.campaign.name, @adventure.campaign %>
      </p>
    </div>
  </div>

  <div class="row mb-3 pb-3 border-bottom">
    <div class="col-12">
      <h2>Characters</h2>
    </div>
    <div class="col-12 col-sm-6">
      <h3>Player Characters</h3>
      <% @adventure.characters.where(type: 'PlayerCharacter').each do |pc| %>
        <div class="row">
          <div class="col">
            <strong><%= pc.name %></strong>; <%= pc.level %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-12 col-sm-6">
      <h3>Main NPCs</h3>
      <% @adventure.characters.where(type: 'NonPlayerCharacter').each do |npc| %>
        <div class="row">
          <div class="col">
            <%= npc.role %>: <strong><%= npc.name %></strong>; <%= npc.level %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row mb-3 pb-3 border-bottom">
    <div class="col-12">
      <h3>Encounters</h3>
    </div>
    <div class="col-12">
      <% @adventure.encounters.each do |encounter| %>
        <div class="row">
          <div class="col">
            <strong><%= link_to encounter.name, campaign_adventure_encounter_path(@campaign, @adventure, encounter) %>
              :</strong> (<%= encounter.total_monsters %> monsters), <%= encounter.xp %>
            <small class="text-muted">XP</small>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="d-flex align-items-center justify-content-start py-3">
    <%= link_to 'Edit', edit_campaign_adventure_path(@campaign, @adventure), class: "btn btn-success" if policy(@adventure).edit? %>
  </div>
</div>
