<% title "New Widget" %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><%= link_to 'Dashboard', v1_dashboard_path %></li>
    <li class="breadcrumb-item"><%= link_to 'Widgets', widgets_path %></li>
    <li class="breadcrumb-item active" aria-current="page">New Widget</li>
  </ol>
</nav>
<div class="container">
  <h1>New Widget</h1>
  <%= render 'form', widget: @widget %>
  <div class="admin__footer">
    <%= link_to 'Back', widgets_path, class: "btn btn-primary" %>
    <%= link_to 'Dashboard', v1_dashboard_path, class: "btn btn-info" %>
  </div>
</div>
