<% title "Edit" + @encounter.name %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><%= link_to 'Dashboard', dashboard_path %></li>
    <li class="breadcrumb-item"><%= link_to 'Encounters', encounters_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Edit Encounters</li>
  </ol>
</nav>
<div class="container">
  <h1>Edit - <small><em><%= @encounter.name %></em></small></h1>
  <%= render 'form', encounter: @encounter %>
  <div class="admin__footer">
    <%= link_to 'Show', @encounter, class: "btn btn-success" %>
    <%= link_to 'Back', encounters_path, class: "btn btn-primary" %>
    <%= link_to 'Dashboard', '/dashboard', class: "btn btn-info" %>
  </div>
</div>
