<% title "Player_characters" %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><%= link_to 'Dashboard', dashboard_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Player_characters</li>
  </ol>
</nav>

<h1>Player_characters</h1>
<%= render 'shared/search_form', url: player_characters_path %>

<table>
  <thead>
    <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Slug</th>
      
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @player_characters.each do |player_character| %>
      <tr>
                  <td><%= player_character.name %></td>
                  <td><%= player_character.description %></td>
                  <td><%= player_character.slug %></td>
        
        <td>
          <%= link_to 'Show', player_character, class: "btn btn-sm btn-primary" %>
          <%= link_to 'Edit', edit_player_character_path(player_character), class: "btn btn-sm btn-success" if policy(player_character).edit? %>
          <%= link_to 'Destroy', player_character, class: "btn btn-sm btn-danger", method: :delete, data: { confirm: 'Are you sure?' } if policy(player_character).destroy? %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%== pagy_bootstrap_nav_js(@pagy) if @pagy.pages > 1 %>
<%= link_to 'New Player_character', new_player_character_path, class: "btn btn-lg btn-success" if policy(PlayerCharacter).new? %>
