<% title "Spells" %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><%= link_to 'Dashboard', v1_dashboard_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Classes</li>
  </ol>
</nav>

<div class='table-frame'>
  <h1>Spells</h1>
  <%= render 'shared/search_form', url: v1_spells_path %>

  <table class='dnd-table'>
    <thead>
      <tr>
        <th>Name</th>
        <th scope='col'>Classes</th>
        <th scope='col'>School</th>
        <th>Level</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @spells.each do |spell| %>
        <tr>
          <td><%= spell.name %></td>
          <td>
            <% if current_user %>
              <%= spell.dnd_classes.where(user_id: nil).or(spell.dnd_classes.where(user_id: current_user.id)).map { |spell_class| spell_class.name }.join(', ') %>
            <% else %>
              <%= spell.dnd_classes.where(user_id: nil).map { |spell_class| spell_class.name }.join(', ') %>
            <% end %>
          </td>
          <td><%= spell.school.titleize %></td>
          <td><%= spell.spell_level %></td>
          <td>
            <%= link_to 'Show', v1_spell_path(spell), class: "btn btn-sm btn-primary" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
</div>

<%= link_to 'New Spell', new_v1_spell_path, class: "btn btn-lg btn-success" if policy(Spell).new? %>
