<% title "New Spell" %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-spell"><a href="/">Home</a></li>
    <li class="breadcrumb-spell"><%= link_to 'Dashboard', v1_dashboard_path %></li>
    <li class="breadcrumb-spell"><%= link_to 'Spell', v1_spells_path %></li>
    <li class="breadcrumb-spell active" aria-current="page">New Spell</li>
  </ol>
</nav>
<div class="container">
  <h1>New Spell</h1>
  <%= render 'form', spell: @spell %>
  <div class="admin__footer">
    <%= link_to 'Back', v1_spells_path, class: "btn btn-primary" %>
    <%= link_to 'Dashboard', v1_dashboard_path, class: "btn btn-info" %>
  </div>
</div>
