<%= simple_form_for [:v1, @campaign, @guild], validate: true do |form| %>
  <%= form.error_notification %>
  <%= form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="form-row">
      <div class="col">
        <%= form.input :name %>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <%= form.input :description %>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <%= form.association :characters,
                             label: 'Player Characters',
                             collection: PlayerCharacter.where(campaign: @campaign),
                             include_blank: false,
                             include_hidden: false,
                             input_html: { class: "pc-selection" } %>
      </div>
      <div class="col">
        <%= form.association :characters,
                             label: 'Non-player Characters',
                             collection: NonPlayerCharacter.where(campaign: @campaign),
                             include_blank: false,
                             include_hidden: false,
                             input_html: {class: "npc-selection"} %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= form.button :submit, class: 'btn btn-success mb-3' %>
  </div>
<% end %>

<script>
  $( ".pc-selection" ).select2({
    theme: "bootstrap"
  });
  $( ".npc-selection" ).select2({
    theme: "bootstrap"
  });
</script>
