<%= simple_form_for @dnd_class do |form| %>
  <% if dnd_class.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dnd_class.errors.count, "error") %> prohibited this dnd_class from being saved:</h2>

      <ul>
      <% dnd_class.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.input :name %>
  <%= form.input :hit_die %>
  <%= form.input :proficiencies %>
  <%= form.input :saving_throws %>
  <%= form.input :proficiency_choices %>
  <%= form.association :spells %>
  <%= form.button :submit, class: 'btn btn-success' %>
  
<% end %>


<script>
  $(document).ready(function() {
    $( "#dnd_class_spell_ids" ).select2({
      tags: true,
      theme: "bootstrap"
    });
  });
</script>
