<%= bootstrap_form_for(@dnd_class, url: url) do |form| %>
  <% if dnd_class.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dnd_class.errors.count, "error") %> prohibited this dnd_class from being saved:</h2>

      <ul>
      <% dnd_class.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :name %>
  <%= form.number_field :hit_die %>
  <%= form.text_field :proficiencies %>
  <%= form.text_field :saving_throws %>
  <%= form.text_field :proficiency_choices %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
