<%= simple_form_for @dnd_class, validate: true do |form| %>
  <%= form.error_notification %>
  <%= form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= form.input :name %>
    <%= form.input :hit_die %>
    <%= form.association :profs %>
    <%= form.association :spells %>

    <div class="p-3 mx-3 my-5 border-bottom border-top" id="prof_choices_container">
      <h5>Proficiency Choices</h5>
      <%= form.simple_fields_for :prof_choices do |p_form| %>
        <%= render 'prof_choice_fields', f: p_form %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association 'Add Proficiency Choices Set', form, :prof_choices, class: "btn btn-info" %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= form.button :submit, class: 'btn btn-success mb-3' %>
  </div>

<% end %>

<script>
  $(document).ready(function() {
    $("#prof_choices_container").on('cocoon:after-insert', function(event, addedTask) {
      loadSelect2();
    });
    function loadSelect2() {
      $( "#dnd_class_spell_ids" ).select2({
        theme: "bootstrap"
      });
      $( "#dnd_class_prof_ids" ).select2({
        theme: "bootstrap"
      });
      $( ".prof_choice_profs" ).select2({
        theme: "bootstrap"
      });
    }

    loadSelect2();
  });
</script>
