<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><%= link_to 'Dashboard', dashboard_path %></li>
    <li class="breadcrumb-item"><%= link_to 'Class', dnd_classes_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Edit Class</li>
  </ol>
</nav>
<h1>Edit - <small><em><%= @dnd_class.name %></em></small></h1>
<%= render 'form', dnd_class: @dnd_class %>
<div class="admin__footer">
  <%= link_to 'Show', @dnd_class, class: "btn btn-success" %>
  <%= link_to 'Back', dnd_classes_path, class: "btn btn-primary" %>
  <%= link_to 'Dashboard', '/dashboard', class: "btn btn-info" %>
</div>
