<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><%= link_to 'Dashboard', dashboard_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Classes</li>
  </ol>
</nav>

<h1>Classes</h1>
<%= render 'shared/search_form', url: dnd_classes_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th class="d-none d-lg-table-cell">Hit die</th>
      <th>Created By</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @dnd_classes.each do |dnd_class| %>
      <tr>
        <td><%= dnd_class.name %></td>
        <td class="d-none d-lg-table-cell">d<%= dnd_class.hit_die %></td>
        <td><%= dnd_class.user ? dnd_class.user.name : "Default" %></td>
        <td>
          <%= link_to 'Show', dnd_class, class: "btn btn-sm btn-primary" %>
          <%= link_to 'Edit', edit_dnd_class_path(dnd_class), class: "btn btn-sm btn-success" if policy(dnd_class).edit? %>
          <%= link_to 'Destroy', dnd_class, class: "btn btn-sm btn-danger", method: :delete, data: { confirm: 'Are you sure?' } if policy(dnd_class).destroy? %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%== pagy_bootstrap_nav_js(@pagy) if @pagy.pages > 1 %>

<%= link_to 'New Class', new_dnd_class_path, class: "btn btn-lg btn-success" if policy(DndClass).new? %>
