<% title "New Class" %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><%= link_to 'Dashboard', dashboard_path %></li>
    <li class="breadcrumb-item"><%= link_to 'Classes', dnd_classes_path %></li>
    <li class="breadcrumb-item active" aria-current="page">New Class</li>
  </ol>
</nav>
<div class="container">
  <h1>New Class</h1>
  <%= render 'form', dnd_class: @dnd_class %>
  <div class="admin__footer">
    <%= link_to 'Back', dnd_classes_path, class: "btn btn-primary" %>
    <%= link_to 'Dashboard', dashboard_path, class: "btn btn-info" %>
  </div>
</div>
