
<%= simple_form_for @character, validate: true do |form| %>
  <%= form.error_notification %>
  <%= form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>
  <% @character.errors.full_messages.each do |msg| %>
                      <h4><%= msg %></h4>
                    <% end %>

  <div class="form-inputs">
    <% if (current_user.admin? || current_user.dungeon_master?) %>
        <%= form.input :character_type,
          collection: [['Player Character', 'pc'], ['Non-player Character', 'npc'] ],
          input_html: { multiple: false },
          include_blank: false,
          include_hidden: false %>
        <%= form.association :campaign,
          collection: current_user.campaigns + current_user.player_campaigns,
          include_blank: false,
          include_hidden: false %>
    <% else %>
      <%= form.hidden_field :character_type, value: 'pc' %>
      <%= form.association :campaign,
        collection: current_user.player_campaigns,
        include_blank: false,
        include_hidden: false %>
    <% end %>
    
    <%= form.hidden_field :user_id, value: form.object.user_id || current_user.id %>
    <div class="form-row">
      <div class="col">
        <%= form.input :name %>
      </div>
      <div class="col">
        <%= form.input :role, hint: 'NPCs only' %>
      </div>
    </div>
    
    <h2>Info</h2>
    <div class="form-row">
      <div class="col">
        <%= form.input :alignment,
          collection: DndRules.alignments,
          include_blank: false,
          include_hidden: false %>
      </div>
      <div class="col">
        <%= form.association :dnd_classes,
          collection: DndClass.where(user_id: nil),
          input_html: { multiple: true },
          include_blank: false,
          include_hidden: false,
          label: 'Class' %>
      </div>
      <div class="col">
        <%= form.input :race,
          collection: DndRules.player_races,
          include_blank: false,
          include_hidden: false %>
      </div>
    </div>
    
    <div class="form-row">
      <div class="col">
        <%= form.input :level %>
      </div>
      <div class="col">
        <%= form.input :xp, label: "Experience Points" %>
      </div>
    </div>
    
    <div class="form-row">
      <div class="col">
        <%= form.input :armor_class %>
      </div>
      <div class="col">
        <%= form.input :hit_points %>
      </div>
      <div class="col">
        <%= form.input :hit_points_current, label: 'Current Hit Points' %>
      </div>
      <div class="col">
        <%= form.input :initiative %>
      </div>
      <div class="col">
        <%= form.input :proficiency %>
      </div>
    </div>

    <div class="form-row">
      <div class="col">
        <%= form.input :speed %>
      </div>
      <div class="col">
        <%= form.input :languages %>
      </div>
    </div>
    
    <div class="form-row">
      <div class="col">
        <%= form.input :description %>
      </div>
    </div>

    <h2>Ability Scores</h2>
    <div class="form-row">
      <div class="col">
        <%= form.input :strength %>
      </div>
      <div class="col">
        <%= form.input :dexterity %>
      </div>
      <div class="col">
        <%= form.input :constitution %>
      </div>
      <div class="col">
        <%= form.input :intelligence %>
      </div>
      <div class="col">
        <%= form.input :wisdom %>
      </div>
      <div class="col">
        <%= form.input :charisma %>
      </div>
    </div>

    <div id="spellsForm">
      <h2>Spells</h2>
      <div class="form-row">
        <div class="col">
          <%= form.input :spell_ability %>
        </div>
        <div class="col">
          <%= form.input :spell_attack_bonus %>
        </div>
        <div class="col">
          <%= form.input :spell_save_dc %>
        </div>
      </div>
      <div class="form-row" id="0_levelSpells">
        <div class="col">
          <%= form.association :spells,
                collection: Spell.where("level < 1").order('name ASC'),
                label: "Cantrips",
                include_blank: false,
                include_hidden: false,
                input_html: { id: 'character_spell_cantrip_ids' } %>
        </div>
      </div>
      <div class="form-row" id="1_levelSpells">
        <div class="col">
          <%= form.association :spells,
                collection: Spell.where(level: 1).order('name ASC'),
                label: "1st Level Spells",
                include_blank: false,
                include_hidden: false,
                input_html: { id: 'character_spell_1st_level_ids' } %>
        </div>
      </div>
      <div class="form-row" id="2_levelSpells">
        <div class="col">
          <%= form.association :spells,
                collection: Spell.where(level: 2).order('name ASC'),
                label: "2nd Level Spells",
                include_blank: false,
                include_hidden: false,
                input_html: { id: 'character_spell_2nd_level_ids' } %>
        </div>
      </div>
      <div class="form-row" id="3_levelSpells">
        <div class="col">
          <%= form.association :spells,
                collection: Spell.where(level: 3).order('name ASC'),
                label: "3rd Level Spells",
                include_blank: false,
                include_hidden: false,
                input_html: { id: 'character_spell_3rd_level_ids' } %>
        </div>
      </div>
      <div class="form-row" id="4_levelSpells">
        <div class="col">
          <%= form.association :spells,
                collection: Spell.where(level: 4).order('name ASC'),
                label: "4th Level Spells",
                include_blank: false,
                include_hidden: false,
                input_html: { id: 'character_spell_4th_level_ids' } %>
        </div>
      </div>
      <div class="form-row" id="5_levelSpells">
        <div class="col">
          <%= form.association :spells,
                collection: Spell.where(level: 5).order('name ASC'),
                label: "5th Level Spells",
                include_blank: false,
                include_hidden: false,
                input_html: { id: 'character_spell_5th_level_ids' } %>
        </div>
      </div>
      <div class="form-row" id="6_levelSpells">
        <div class="col">
          <%= form.association :spells,
                collection: Spell.where(level: 6).order('name ASC'),
                label: "6th Level Spells",
                include_blank: false,
                include_hidden: false,
                input_html: { id: 'character_spell_6th_level_ids' } %>
        </div>
      </div>
      <div class="form-row" id="7_levelSpells">
        <div class="col">
          <%= form.association :spells,
                collection: Spell.where(level: 7).order('name ASC'),
                label: "7th Level Spells",
                include_blank: false,
                include_hidden: false,
                input_html: { id: 'character_spell_7th_level_ids' } %>
        </div>
      </div>
      <div class="form-row" id="8_levelSpells">
        <div class="col">
          <%= form.association :spells,
                collection: Spell.where(level: 8).order('name ASC'),
                label: "8th Level Spells",
                include_blank: false,
                include_hidden: false,
                input_html: { id: 'character_spell_8th_level_ids' } %>
        </div>
      </div>
      <div class="form-row" id="9_levelSpells">
        <div class="col">
          <%= form.association :spells,
                collection: Spell.where(level: 9).order('name ASC'),
                label: "9th Level Spells",
                include_blank: false,
                include_hidden: false,
                input_html: { id: 'character_spell_9th_level_ids' } %>
        </div>
      </div>
    </div>
    
    <h2>Skills</h2>
    <div class="form-row">
      <div class="p-3 border-bottom border-top">
        <%= form.simple_fields_for :skills do |p_form| %>
          <%= render 'skill_fields', f: p_form %>
        <% end %>
        <div class='links'>
          <%= link_to_add_association 'Add Skill', form, :skills, class: "btn btn-info" %>
        </div>
      </div>
    </div>
    
    <h2>Inventory</h2>
    <div class="form-row">
      <div class="col">
        <%= form.input :copper_pieces %>
      </div>
      <div class="col">
        <%= form.input :silver_pieces %>
      </div>
      <div class="col">
        <%= form.input :electrum_pieces %>
      </div>
      <div class="col">
        <%= form.input :gold_pieces %>
      </div>
      <div class="col">
        <%= form.input :platinum_pieces %>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <%= form.association :magic_items,
          input_html: { multiple: true },
          include_blank: false,
          include_hidden: false %>
      </div>
    </div>
    <div class="py-3" id="equipment_items_container">
      <h5>Equipment</h5>
      <%= form.simple_fields_for :equipment_items do |equipment_item_form| %>
        <%= render 'equipment_item_fields', f: equipment_item_form %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association 'Add Equipment', form, :equipment_items, class: "btn btn-info" %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= form.button :submit, class: 'btn btn-success mb-3' %>
  </div>
<% end %>

<script>
  $('#character_race').select2({
    theme: "bootstrap"
  });
  $('#character_character_type').select2({
    theme: "bootstrap"
  });
  $('#character_alignment').select2({
    theme: "bootstrap"
  });
  $('#character_dnd_class_ids').select2({
    multiple: false,
    theme: "bootstrap"
  });
  $('#character_magic_item_ids').select2({
    theme: "bootstrap"
  });
  $('#character_campaign_id').select2({
    theme: "bootstrap"
  });
  
  $('#character_character_type').on("select2:select", function (event) {
    handleNPCDisplay();
  });
  
  function handleNPCDisplay() {
    var classTypeValue = $('#character_character_type :selected').val();
    if (classTypeValue === "npc") {
      $('.character_role').show();
    } else {
      $('.character_role').hide();
    }
  }
  
  function handleSpellsDisplay() {
    var classValue = $('#character_dnd_class_ids :selected').text()
    if (classValue === 'Bard' || classValue === 'Cleric' || classValue === 'Druid' || classValue === 'Sorcerer' || classValue === 'Warlock' || classValue === 'Wizard') {
      $('#spellsForm').show();
      showSpellLevels(0, 9);
      loadSelect2();
    } else if (classValue === 'Paladin' || classValue === 'Ranger') {
      $('#spellsForm').show();
      showSpellLevels(1, 5);
      loadSelect2();
    } else {
      $('#spellsForm').hide();
    }
  }
  
  function showSpellLevels(minLevel, maxLevel) {
    for (var i = 0; i <= 9; i++) {
      $(`#${i}_levelSpells`).hide();
    }
    for (var i = minLevel; i < maxLevel + 1; i++) {
      $(`#${i}_levelSpells`).show();
    }
  }
  
  $('#character_dnd_class_ids').on("select2:select", function (event) {
    handleSpellsDisplay();
  });
  
  $("#equipment_items_container").on('cocoon:after-insert', function(event, addedTask) {
    loadSelect2();
  });
  
  function loadSelect2() {
    $('#character_spell_cantrip_ids').select2({
      theme: "bootstrap"
    });
    $('#character_spell_1st_level_ids').select2({
      theme: "bootstrap"
    });
    $('#character_spell_2nd_level_ids').select2({
      theme: "bootstrap"
    });
    $('#character_spell_3rd_level_ids').select2({
      theme: "bootstrap"
    });
    $('#character_spell_4th_level_ids').select2({
      theme: "bootstrap"
    });
    $('#character_spell_5th_level_ids').select2({
      theme: "bootstrap"
    });
    $('#character_spell_6th_level_ids').select2({
      theme: "bootstrap"
    });
    $('#character_spell_7th_level_ids').select2({
      theme: "bootstrap"
    });
    $('#character_spell_8th_level_ids').select2({
      theme: "bootstrap"
    });
    $('#character_spell_9th_level_ids').select2({
      theme: "bootstrap"
    });
    $( ".equipment_item_item" ).select2({
      multiple: false,
      theme: "bootstrap"
    });
  }
  
  handleNPCDisplay();
  handleSpellsDisplay();
  loadSelect2()
  
</script>
