<% title "Edit" + @character.name %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><%= link_to 'Dashboard', dashboard_path %></li>
    <li class="breadcrumb-item"><%= link_to 'Characters', characters_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Edit Characters</li>
  </ol>
</nav>
<div class="container">
  <h1>Edit - <small><em><%= @character.name %></em></small></h1>
  <%= render 'form', character: @character %>
  <div class="admin__footer">
    <%= link_to 'Show', @character, class: "btn btn-success" %>
    <%= link_to 'Back', characters_path, class: "btn btn-primary" %>
    <%= link_to 'Dashboard', '/dashboard', class: "btn btn-info" %>
  </div>
</div>
