<%= simple_form_for [:v1, @race], validate: true do |form| %>
  <%= form.error_notification %>
  <%= form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="form-row">
      <div class="col">
        <%= form.input :name %>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <%= form.input :speed %>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <%= form.input :strength_modifier %>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <%= form.input :dexterity_modifier %>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <%= form.input :constitution_modifier %>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <%= form.input :intelligence_modifier %>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <%= form.input :wisdom_modifier %>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <%= form.input :charisma_modifier %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= form.button :submit, class: 'btn btn-success mb-3' %>
  </div>
<% end %>
