<% title "Edit" + @race.name %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/app/assets/config">Home</a></li>
    <li class="breadcrumb-item"><%= link_to 'Dashboard', v1_dashboard_path %></li>
    <li class="breadcrumb-item"><%= link_to 'Races', v1_races_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Edit Race</li>
  </ol>
</nav>
<div class="container">
  <h1>Edit - <small><em><%= @race.name %></em></small></h1>
  <%= render 'form', race: @race %>
  <div class="admin__footer">
    <%= link_to 'Show', v1_race_path(@race), class: "btn btn-success" %>
    <%= link_to 'Back', v1_races_path, class: "btn btn-primary" %>
    <%= link_to 'Dashboard', '/dashboard', class: "btn btn-info" %>
  </div>
</div>
