<%= form_with(model: magic_item, local: true) do |form| %>
  <% if magic_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(magic_item.errors.count, "error") %> prohibited this magic_item from being saved:</h2>

      <ul>
      <% magic_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :rarity %>
    <%= form.text_field :rarity %>
  </div>

  <div class="field">
    <%= form.label :requires_attunement %>
    <%= form.check_box :requires_attunement %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
