<%= bootstrap_form_for @magic_item do |form| %>
  <% if magic_item.errors.any? %>
    <%= render 'shared/error-alert', record: magic_item, record_type: "magic item" %>
  <% end %>

  <%= form.text_field :name %>
  <%= form.text_field :magic_item_type %>
  <%= form.text_area :description %>
  <%= form.text_field :rarity %>
  <%= form.check_box :requires_attunement %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
