<% title "Edit #{@magic_item.name}" %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><%= link_to 'Dashboard', dashboard_path %></li>
    <li class="breadcrumb-item"><%= link_to 'Magic Items', magic_items_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Edit Magic Item</li>
  </ol>
</nav>
<h1>Edit - <small><em><%= @magic_item.name %></em></small></h1>
<%= render 'form', magic_item: @magic_item %>
<div class="admin__footer">
  <%= link_to 'Show', @magic_item, class: "btn btn-success" %>
  <%= link_to 'Back', magic_items_path, class: "btn btn-primary" %>
  <%= link_to 'Dashboard', '/dashboard', class: "btn btn-info" %>
</div>
