<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><%= link_to 'Dashboard', dashboard_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Magic Items</li>
  </ol>
</nav>

<h1>Magic Items</h1>
<%= render 'shared/search_form', url: magic_items_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th class="d-none d-lg-table-cell">Type</th>
      <th class="d-none d-lg-table-cell">Rarity</th>
      <th class="d-none d-lg-table-cell">Requires attunement</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @magic_items.each do |magic_item| %>
      <tr>
        <td><%= magic_item.name %></td>
        <td class="d-none d-lg-table-cell"><%= magic_item.magic_item_type.titleize %></td>
        <td class="d-none d-lg-table-cell"><%= magic_item.rarity.titleize %></td>
        <td class="d-none d-lg-table-cell"><%= magic_item.requires_attunement.capitalize %></td>
        <td>
          <%= link_to 'Show', magic_item, class: "btn btn-sm btn-primary" %>
          <%= link_to 'Edit', edit_magic_item_path(magic_item), class: "btn btn-sm btn-success" if policy(magic_item).edit? %>
          <%= link_to 'Destroy', magic_item, class: "btn btn-sm btn-danger", method: :delete, data: { confirm: 'Are you sure?' } if policy(magic_item).destroy? %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%== pagy_bootstrap_nav_js(@pagy) if @pagy.pages > 1 %>

<%= link_to 'New Magic Item', new_magic_item_path, class: "btn btn-lg btn-success" if policy(MagicItem).new?  %>
