<div class="container">
  <div class="row mb-3 pb-3 border-bottom">
    <div class="col">
      <h1>Campaign: <%= @campaign.name %></h1>
      <h2><%= link_to "#{@campaign.user.name}", @campaign.user %>, Dungeon Master</h2>
    </div>
    <div class="col">
      <h2>World</h2>
      <%= @campaign.world %>
    </div>
  </div>

  <div class="row mb-3 pb-3 border-bottom">
    <div class="col">
      <%= markdown(@campaign.description) %>
    </div>
  </div>

  <div class="row mb-3 pb-3 border-bottom">
    <div class="col">
      <h2>Player Characters</h2>
      <ul class="list-group list-group-flush">
        <% @campaign.pcs.each do |character| %>
          <li class="list-group-item">
            <%= link_to raw("<strong>#{character.name}</strong> - #{character.classes}"), v1_campaign_player_character_path(@campaign, character) %>
            <%= link_to 'Edit', edit_v1_campaign_character_path(@campaign, character), class: "btn btn-sm btn-success" if policy(character).edit? %>
            <%= link_to 'Destroy',  v1_campaign_character_path(@campaign, character), class: "btn btn-sm btn-danger", method: :delete, data: { confirm: 'Are you sure?' } if policy(character).destroy? %>
          </li>
        <% end %>
      </ul>
      <% if current_user == @campaign.user %>
        <%= link_to 'New Player Character', new_v1_campaign_player_character_path(@campaign), class: "btn btn-lg btn-success" if policy(PlayerCharacter).new? %>
      <% end %>
    </div>
    <div class="col">
      <h2>Non-player Characters</h2>
      <ul class="list-group list-group-flush">
        <% @campaign.npcs.each do |character| %>
          <li class="list-group-item">
            <%= link_to raw("#{character.role}: <strong>#{character.name}</strong> - #{character.classes}"), v1_campaign_player_character_path(@campaign, character) %>
            <%= link_to 'Edit', edit_v1_campaign_character_path(@campaign, character), class: "btn btn-sm btn-success" if policy(character).edit? %>
            <%= link_to 'Destroy',  v1_campaign_character_path(@campaign, character), class: "btn btn-sm btn-danger", method: :delete, data: { confirm: 'Are you sure?' } if policy(character).destroy? %>
          </li>
        <% end %>
      </ul>
      <% if current_user == @campaign.user %>
        <%= link_to 'New Non-player Character', new_v1_campaign_non_player_character_path(@campaign), class: "btn btn-lg btn-danger" if policy(NonPlayerCharacter).new? %>
        <%= link_to 'Generate NPC', v1_campaign_generate_npc_path(@campaign), class: "btn btn-lg btn-danger" if policy(Character).generate_npc? %>
      <% end %>
    </div>
  </div>

  <h3>Notable Locations</h3>
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
    </thead>

    <tbody>
    <% @campaign.world_locations.each do |world_location| %>
      <tr>
        <td class="bg-light"><%= world_location.name %></td>
        <td><%= world_location.description %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <h3>Events or History</h3>
  <table>
    <thead>
    <tr>
      <th>Date</th>
      <th>Description</th>
    </tr>
    </thead>

    <tbody>
    <% @campaign.world_events.each do |world_event| %>
      <tr>
        <td class="bg-light"><%= world_event.when %></td>
        <td><%= world_event.description %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <h3>Adventures</h3>
  <%= render 'shared/search_form', url: v1_campaign_adventures_path(@campaign) %>
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Encounters</th>
      <th class="d-none d-lg-table-cell">Description</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
      <% @campaign.adventures.each do |adventure| %>
        <tr>
          <td><%= adventure.name %></td>
          <td>TBD</td>
          <td><%= adventure.encounters.count %></td>
          <td class="d-none d-lg-table-cell"><%= adventure.description.html_safe %></td>
          <td>
            <%= link_to 'View', v1_campaign_adventure_path(@campaign, adventure), class: "btn btn-sm btn-primary" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%== pagy_bootstrap_nav(@pagy) if @pagy && @pagy.pages > 1 %>
  <% if current_user == @campaign.user %>
    <%= link_to 'New Adventure', new_v1_campaign_adventure_path(@campaign), class: "btn btn-lg btn-success" if policy(Adventure).new? %>
  <% end %>

  <h3>Guilds, Groups, or Organizations</h3>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>PCs</th>
        <th>NPCs</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @campaign.guilds.each do |guild| %>
        <tr>
          <td class="bg-light"><%= guild.name %></td>
          <td><%= guild.pcs.count %></td>
          <td><%= guild.npcs.count %></td>
          <td>
            <%= link_to 'View', v1_campaign_guild_path(@campaign, guild), class: "btn btn-sm btn-primary" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if current_user == @campaign.user %>
    <%= link_to 'New Guild', new_v1_campaign_guild_path(@campaign), class: "btn btn-lg btn-success" if policy(Guild).new? %>
  <% end %>

  <% if current_user == @campaign.user %>
    <div class="d-flex align-items-center justify-content-start py-3 btn-group">
      <%= link_to 'Edit', edit_v1_campaign_path(@campaign), class: "btn btn-success" if policy(@campaign).edit? %>
      <%= link_to 'Back', v1_campaigns_path, class: "btn btn-info" %>
      <%= link_to 'Delete Campaign', v1_campaign_path(@campaign), class: "btn btn-danger", method: :delete, data: {confirm: 'Are you sure?'} if policy(@campaign).destroy? %>
    </div>
  <% end %>
</div>