<%= simple_form_for [:v1, @campaign], validate: true do |form| %>
  <%= form.error_notification %>
  <%= form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>
  <h4>
    <small>Owner:</small> <%= current_user.name %>
    <% if current_user.admin? %>
      <span class="badge badge-pill badge-success">Admin</span>
    <% elsif current_user.dungeon_master? %>
      <span class="badge badge-pill badge-info">Dungeon Master</span>
    <% else %>
      <span class="badge badge-pill badge-warning">Player</span>
    <% end %>
  </h4>

  <div class="form-inputs">
    <%= form.input :name %>
    <%= form.input :world %>
    <%= form.input :description %>
    <div class="form-row">
      <div class="col">
        <%= form.association :characters,
                             label: 'Player Characters',
                             collection: PlayerCharacter.where(user: form.object.user),
                             include_blank: false,
                             include_hidden: false,
                             input_html: { class: "pc-selection" } %>
      </div>
      <div class="col">
        <%= form.association :characters,
                             label: 'Non-player Characters',
                             collection: NonPlayerCharacter.where(user: form.object.user),
                             include_blank: false,
                             include_hidden: false,
                             input_html: {class: "npc-selection"} %>
      </div>
    </div>

    <h2>Notable World Locations</h2>
    <div class="form-row">
      <div class="p-3 border-bottom border-top" id="encounters_container">
        <%= form.simple_fields_for :world_locations do |loc_form| %>
          <%= render 'admin/v1/campaigns/location_fields', f: loc_form %>
        <% end %>
        <div class='links'>
          <%= link_to_add_association 'Add Location',
                                      form,
                                      :world_locations,
                                      class: "btn btn-info",
                                      partial: 'admin/v1/campaigns/location_fields' %>
        </div>
      </div>
    </div>

    <h2>Events or History</h2>
    <div class="form-row">
      <div class="p-3 border-bottom border-top" id="encounters_container">
        <%= form.simple_fields_for :world_events do |event_form| %>
          <%= render 'admin/v1/campaigns/event_fields', f: event_form %>
        <% end %>
        <div class='links'>
          <%= link_to_add_association 'Add Event',
                                      form,
                                      :world_events,
                                      class: "btn btn-info",
                                      partial: 'admin/v1/campaigns/event_fields' %>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= form.button :submit, class: 'btn btn-success mb-3' %>
  </div>
<% end %>

<script>

  $("#adventures_container").on('cocoon:after-insert', function(event, addedTask) {
    loadSelect2();
  });
  $("#equipment_items_container").on('cocoon:after-insert', function(event, addedTask) {
    loadSelect2();
  });
  $("#encounters_container").on('cocoon:after-insert', function(event, addedTask) {
    loadSelect2();
  });
  $("#encounter_monsters_container").on('cocoon:after-insert', function(event, addedTask) {
    loadSelect2();
  });

  function loadSelect2 () {
    $('.equipment_item_item').select2({
      multiple: false,
      theme: 'bootstrap',
    });
    $( ".pc-selection" ).select2({
      theme: "bootstrap"
    });
    $( ".npc-selection" ).select2({
      theme: "bootstrap"
    });
    $( ".monster-select" ).select2({
      theme: "bootstrap"
    });
  }

  loadSelect2();
</script>
