<% title "Campaign: #{@campaign.name}" %>
<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><%= link_to 'Dashboard', v1_dashboard_path %></li>
        <li class="breadcrumb-item"><%= link_to 'Campaigns', v1_campaigns_path %></li>
        <li class="breadcrumb-item"><%= link_to "#{@campaign.user.name}", user_path(slug: @campaign.user.slug) %></li>
        <li class="breadcrumb-item active" aria-current="page"><%= @campaign.name %></li>
      </ol>
    </nav>
  </div>
</div>


<%= render 'admin/v1/campaigns/campaign_body' %>
