<%= bootstrap_form_for @spell do |form| %>
  <% if spell.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(spell.errors.count, "error") %> prohibited this spell from being saved:</h2>

      <ul>
      <% spell.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= form.text_area :name %>
  <%= form.text_area :description %>
  <%= form.text_area :higher_level %>
  <%= form.text_area :page %>
  <%= form.text_area :range %>
  <%= form.text_area :components %>
  <%= form.text_area :material %>
  <%= form.check_box :ritual %>
  <%= form.text_area :duration %>
  <%= form.check_box :concentration %>
  <%= form.text_field :casting_time %>
  <%= form.number_field :level %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
