<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><%= link_to 'Dashboard', dashboard_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Classes</li>
  </ol>
</nav>

<h1>Spells</h1>
<%= render 'shared/search_form', url: spells_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Classes</th>
      <th>School</th>
      <th>Level</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @spells.each do |spell| %>
      <tr>
        <td><%= spell.name %></td>
        <td>
          <%= spell.dnd_classes.where(user_id: nil).or(spell.dnd_classes.where(user_id: current_user.id)).map {|spell_class| spell_class.name}.join(', ') %>
        </td>
        <td><%= spell.school %></td>
        <td><%= spell.spell_level %></td>
        <td>
          <%= link_to 'Show', spell, class: "btn btn-sm btn-primary" %>
          <%= link_to 'Edit', edit_spell_path(spell), class: "btn btn-sm btn-success" if policy(spell).edit? %>
          <%= link_to 'Destroy', spell, class: "btn btn-sm btn-danger", method: :delete, data: { confirm: 'Are you sure?' } if policy(spell).destroy? %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Spell', new_spell_path, class: "btn btn-lg btn-success" if policy(Spell).new? %>
