<% title "Spell: #{@spell.name}" %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><%= link_to 'Dashboard', dashboard_path %></li>
    <li class="breadcrumb-item"><%= link_to 'Spells', spells_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @spell.name %></li>
  </ol>
</nav>
<h1><%= @spell.name %></h1>
<% if @spell.level <= 0 %>
  <h4><%= @spell.school%> Cantrip</h4>
<% else %>
  <h4><%= @spell.spell_level%> <%= @spell.school%> <small><em><%= '(ritual)' if @spell.ritual %></em></small></h4>
<% end %>

<p>
  <strong>Page:</strong>
  <%= @spell.page %>
</p>

<p>
  <strong>Range:</strong>
  <%= @spell.range %>
</p>

<p>
  <strong>Components:</strong>
  <%= @spell.components.map {|str| "#{str}"}.join(', ') %>
</p>

<p>
  <strong>Material:</strong>
  <%= @spell.material %>
</p>

<p>
  <strong>Duration:</strong>
  <%= "Concentration, " if @spell.concentration %><%= @spell.duration %>
</p>

<p>
  <strong>Casting time:</strong>
  <%= @spell.casting_time %>
</p>

<p>
  <strong>Classes:</strong>
  <% @spell.dnd_classes.each_with_index do |dnd_class, index| %>
    <%= link_to dnd_class.name, dnd_class %><% if index != @spell.dnd_classes.count - 1 %>,<% end %>
  <% end %>
</p>

<% if @spell.description && @spell.description != "" %>
  <h5>Description</h5>
  <%= markdown(@spell.description) %>
<% end %>

<% if @spell.higher_level && @spell.higher_level != "" %>
  <h5>Higher Level</h5>
  <%= markdown(@spell.higher_level) %>
<% end %>

<%= link_to 'Edit', edit_spell_path(@spell), class: "btn btn-success" if policy(@spell).edit? %>
<%= link_to 'Back', spells_path, class: "btn btn-info" %>
