<h2>Info</h2>
<div class="form-row">
  <div class="col">
    <%= form.input :alignment,
                   collection: DndRules.alignments,
                   include_blank: false,
                   include_hidden: false %>
  </div>
  <div class="col">
    <%= form.input :race_id,
                    label: 'Race',
                    collection: Race.all,
                    include_blank: false,
                    include_hidden: false %>
  </div>
  <div class="col">
    <%= form.input :xp, label: "Experience Points" %>
  </div>
</div>

<h2>Classes</h2>
<div class="form-row">
  <div class="p-3 border-bottom border-top">
    <%= form.simple_fields_for :character_classes do |p_form| %>
      <%= render 'character_class_fields', f: p_form %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'Add Class', form, :character_classes, class: "btn btn-info" %>
    </div>
  </div>
</div>

<h2>Statistics</h2>
<div class="form-row">
  <div class="col">
    <%= form.input :armor_class %>
  </div>
  <div class="col">
    <%= form.input :hit_points %>
  </div>
</div>

<h3>Ability Scores</h3>
<div class="form-row">
  <div class="col-4 col-md-2">
    <%= form.input :strength %>
  </div>
  <div class="col-4 col-md-2">
    <%= form.input :dexterity %>
  </div>
  <div class="col-4 col-md-2">
    <%= form.input :constitution %>
  </div>
  <div class="col-4 col-md-2">
    <%= form.input :intelligence %>
  </div>
  <div class="col-4 col-md-2">
    <%= form.input :wisdom %>
  </div>
  <div class="col-4 col-md-2">
    <%= form.input :charisma %>
  </div>
</div>

<div class="form-row">
  <div class="col">
    <%= form.input :languages %>
  </div>
</div>
<div class="form-row">
  <div class="col">
    <%= form.input :description %>
  </div>
</div>

<div id="spellsForm">
  <h2>Spells</h2>
  <div class="form-row" id="0_levelSpells">
    <div class="col">
      <%= form.association :spells,
                           collection: Spell.where("level < 1").order('name ASC'),
                           label: "Cantrips",
                           include_blank: false,
                           include_hidden: false,
                           input_html: { id: 'character_spell_cantrip_ids' } %>
    </div>
  </div>
  <div class="form-row" id="1_levelSpells">
    <div class="col">
      <%= form.association :spells,
                           collection: Spell.where(level: 1).order('name ASC'),
                           label: "1st Level Spells",
                           include_blank: false,
                           include_hidden: false,
                           input_html: { id: 'character_spell_1st_level_ids' } %>
    </div>
  </div>
  <div class="form-row" id="2_levelSpells">
    <div class="col">
      <%= form.association :spells,
                           collection: Spell.where(level: 2).order('name ASC'),
                           label: "2nd Level Spells",
                           include_blank: false,
                           include_hidden: false,
                           input_html: { id: 'character_spell_2nd_level_ids' } %>
    </div>
  </div>
  <div class="form-row" id="3_levelSpells">
    <div class="col">
      <%= form.association :spells,
                           collection: Spell.where(level: 3).order('name ASC'),
                           label: "3rd Level Spells",
                           include_blank: false,
                           include_hidden: false,
                           input_html: { id: 'character_spell_3rd_level_ids' } %>
    </div>
  </div>
  <div class="form-row" id="4_levelSpells">
    <div class="col">
      <%= form.association :spells,
                           collection: Spell.where(level: 4).order('name ASC'),
                           label: "4th Level Spells",
                           include_blank: false,
                           include_hidden: false,
                           input_html: { id: 'character_spell_4th_level_ids' } %>
    </div>
  </div>
  <div class="form-row" id="5_levelSpells">
    <div class="col">
      <%= form.association :spells,
                           collection: Spell.where(level: 5).order('name ASC'),
                           label: "5th Level Spells",
                           include_blank: false,
                           include_hidden: false,
                           input_html: { id: 'character_spell_5th_level_ids' } %>
    </div>
  </div>
  <div class="form-row" id="6_levelSpells">
    <div class="col">
      <%= form.association :spells,
                           collection: Spell.where(level: 6).order('name ASC'),
                           label: "6th Level Spells",
                           include_blank: false,
                           include_hidden: false,
                           input_html: { id: 'character_spell_6th_level_ids' } %>
    </div>
  </div>
  <div class="form-row" id="7_levelSpells">
    <div class="col">
      <%= form.association :spells,
                           collection: Spell.where(level: 7).order('name ASC'),
                           label: "7th Level Spells",
                           include_blank: false,
                           include_hidden: false,
                           input_html: { id: 'character_spell_7th_level_ids' } %>
    </div>
  </div>
  <div class="form-row" id="8_levelSpells">
    <div class="col">
      <%= form.association :spells,
                           collection: Spell.where(level: 8).order('name ASC'),
                           label: "8th Level Spells",
                           include_blank: false,
                           include_hidden: false,
                           input_html: { id: 'character_spell_8th_level_ids' } %>
    </div>
  </div>
  <div class="form-row" id="9_levelSpells">
    <div class="col">
      <%= form.association :spells,
                           collection: Spell.where(level: 9).order('name ASC'),
                           label: "9th Level Spells",
                           include_blank: false,
                           include_hidden: false,
                           input_html: { id: 'character_spell_9th_level_ids' } %>
    </div>
  </div>
</div>

<h2>Skills</h2>
<div class="form-row">
  <div class="p-3 border-bottom border-top">
    <%= form.simple_fields_for :skills do |p_form| %>
      <%= render 'skill_fields', f: p_form %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'Add Skill', form, :skills, class: "btn btn-info" %>
    </div>
  </div>
</div>

<h2>Armor and Weapons</h2>
<div class="form-row">
  <%= form.input :armor_id,
                 label: 'Armor',
                 collection: @character.armors.map { |item| [item.item.name, item.item.id] },
                 include_blank: true,
                 include_hidden: false %>
</div>
<div class="form-row">
  <%= form.input :weapon_rh_id,
                 label: 'Weapon - main hand',
                 collection: @character.one_handed_weapons.map { |item| [item.item.name, item.item.id] },
                 include_blank: true,
                 include_hidden: false %>
</div>
<div class="form-row">
  <%= form.input :weapon_lh_id,
                 label: 'Weapon - off hand',
                 collection: @character.one_handed_weapons.map { |item| [item.item.name, item.item.id] },
                 include_blank: true,
                 include_hidden: false %>
</div>
<div class="form-row">
  <%= form.input :weapon_2h_id,
                 label: 'Weapon - Two-hand',
                 collection: @character.two_handed_weapons.map { |item| [item.item.name, item.item.id] },
                 include_blank: true,
                 include_hidden: false %>
</div>

<h2>Inventory</h2>
<div class="form-row">
  <div class="col">
    <%= form.input :copper_pieces %>
  </div>
  <div class="col">
    <%= form.input :silver_pieces %>
  </div>
  <div class="col">
    <%= form.input :electrum_pieces %>
  </div>
  <div class="col">
    <%= form.input :gold_pieces %>
  </div>
  <div class="col">
    <%= form.input :platinum_pieces %>
  </div>
</div>
<div class="py-3" id="equipment_items_container">
  <h5>Equipment</h5>
  <%= form.simple_fields_for :character_items do |character_item_form| %>
    <%= render 'admin/v1/items/character_item_fields', f: character_item_form %>
  <% end %>
  <div class='links'>
    <%= link_to_add_association 'Add Equipment', form, :character_items, class: "btn btn-info", partial: '/admin/v1/items/character_item_fields' %>
  </div>
</div>