
<%= simple_form_for [:v1, @character], validate: true do |form| %>
  <%= form.error_notification %>
  <%= form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>
  <% @character.errors.full_messages.each do |msg| %>
                      <h4><%= msg %></h4>
                    <% end %>

  <div class="form-inputs">

    <%= form.hidden_field :user_id, value: form.object.user_id || current_user.id %>
    <div class="form-row">
      <div class="col">
        <%= form.input :name %>
      </div>
      <div class="col">
        <%= form.input :role, hint: 'NPCs only' %>
      </div>
    </div>
    <%= render 'character_fields', form: form %>
  </div>

  <div class="form-actions">
    <%= form.button :submit, class: 'btn btn-success mb-3' %>
  </div>
<% end %>

<script>
  $(`#player_character_race`).select2({
    theme: "bootstrap"
  });
  $('#character_alignment').select2({
    theme: "bootstrap"
  });
  $('#character_dnd_class_ids').select2({
    multiple: false,
    theme: "bootstrap"
  });
  $('#character_magic_item_ids').select2({
    theme: "bootstrap"
  });
  $('#character_campaign_ids').select2({
    theme: "bootstrap"
  });
  $('.character_role').show();

  function handleSpellsDisplay() {
    var classValue = $('#character_dnd_class_ids :selected').text()
    if (classValue === 'Bard' || classValue === 'Cleric' || classValue === 'Druid' || classValue === 'Sorcerer' || classValue === 'Warlock' || classValue === 'Wizard') {
      $('#spellsForm').show();
      showSpellLevels(0, 9);
      loadSelect2();
    } else if (classValue === 'Paladin' || classValue === 'Ranger') {
      $('#spellsForm').show();
      showSpellLevels(1, 5);
      loadSelect2();
    } else {
      $('#spellsForm').hide();
    }
  }

  function showSpellLevels(minLevel, maxLevel) {
    for (var i = 0; i <= 9; i++) {
      $(`#${i}_levelSpells`).hide();
    }
    for (var i = minLevel; i < maxLevel + 1; i++) {
      $(`#${i}_levelSpells`).show();
    }
  }

  $('#character_dnd_class_ids').on("select2:select", function (event) {
    handleSpellsDisplay();
  });

  $("#equipment_items_container").on('cocoon:after-insert', function(event, addedTask) {
    loadSelect2();
  });

  function loadSelect2() {
    $('#character_spell_cantrip_ids').select2({
      theme: "bootstrap"
    });
    $('#character_spell_1st_level_ids').select2({
      theme: "bootstrap"
    });
    $('#character_spell_2nd_level_ids').select2({
      theme: "bootstrap"
    });
    $('#character_spell_3rd_level_ids').select2({
      theme: "bootstrap"
    });
    $('#character_spell_4th_level_ids').select2({
      theme: "bootstrap"
    });
    $('#character_spell_5th_level_ids').select2({
      theme: "bootstrap"
    });
    $('#character_spell_6th_level_ids').select2({
      theme: "bootstrap"
    });
    $('#character_spell_7th_level_ids').select2({
      theme: "bootstrap"
    });
    $('#character_spell_8th_level_ids').select2({
      theme: "bootstrap"
    });
    $('#character_spell_9th_level_ids').select2({
      theme: "bootstrap"
    });
    $( ".equipment_item_item" ).select2({
      multiple: false,
      theme: "bootstrap"
    });
  }

  handleNPCDisplay();
  handleSpellsDisplay();
  loadSelect2()

</script>
