<% title "New Character" %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><%= link_to 'Dashboard', v1_dashboard_path %></li>
    <li class="breadcrumb-item"><%= link_to "Campaign: #{@campaign.name}", v1_campaign_path(@campaign) %></li>
    <li class="breadcrumb-item active" aria-current="page">New Character</li>
  </ol>
</nav>
<div class="container">
  <h1>Generate NPC</h1>
  <%= simple_form_for [:v1, @character], url: v1_campaign_create_generated_npc_path(@campaign), method: :post, validate: true do |form| %>
    <%= form.error_notification %>
    <%= form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>
    <% @character.errors.full_messages.each do |msg| %><h4><%= msg %></h4><% end %>
    <div class="form-inputs">
      <div class="form-row">
        <div class="col">
          <%= form.input :name,
                wrapper_html: { class: 'mb-0' },
                input_html: { value: form.object.name || NameGen.random_name } %>
          <button class="btn btn-sm btn-link" id="randomMaleNameButton">Random Male Name</button>
          <button class="btn btn-sm btn-link" id="randomFemaleNameButton">Random Female Name</button>
        </div>
        <div class="col">
          <%= form.input :role, hint: 'Villain, Lord, Vendor, etc.' %>
        </div>
      </div>
      <%= form.hidden_field :campaign_id, value: @campaign.id %>
      <%= form.hidden_field :type, value: 'NonPlayerCharacter' %>

      <h2>Info</h2>
      <div class="form-row">
        <div class="col">
          <%= form.input :alignment,
            collection: DndRules.alignments,
            include_blank: false,
            include_hidden: false %>
        </div>
        <div class="col">
          <%= form.input :race_id,
                         label: 'Race',
                         collection: Race.all,
                         include_blank: false,
                         include_hidden: false %>
        </div>
      </div>

      <h2>Classes</h2>
      <div class="form-row">
        <div class="p-3 border-bottom border-top">
          <%= form.simple_fields_for :character_classes do |p_form| %>
            <%= render 'character_class_fields', f: p_form %>
          <% end %>
          <div class='links'>
            <%= link_to_add_association 'Add Class', form, :character_classes, class: "btn btn-info" %>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col">
          <%= form.input :min_score,
                label: "Minimum Score for main ability",
                hint: 'This will ensure the primary ability is of a minimum value',
                input_html: { value: form.object.min_score || 15 } %>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <%= form.button :submit, 'Generate NPC', class: 'btn btn-success mb-3' %>
    </div>
  <% end %>
  <div class="admin__footer">
    <%= link_to 'Back',  v1_campaign_path(@campaign), class: "btn btn-primary" %>
    <%= link_to 'Dashboard', v1_dashboard_path, class: "btn btn-info" %>
  </div>
</div>

<script>
  $('#non_player_character_race').select2({
    theme: "bootstrap"
  });
  $('#non_player_character_alignment').select2({
    theme: "bootstrap"
  });
  $('#non_player_character_dnd_class_ids').select2({
    multiple: false,
    theme: "bootstrap"
  });
  $('#non_player_character_campaign_ids').select2({
    theme: "bootstrap"
  });

  $('#randomMaleNameButton').on('click', function(event) {
    event.preventDefault();
    $.ajax({
      type: 'GET',
      url: '/v1/random_fantasy_name',
      data: {
        random_npc_gender: 'male'
      }
    }).done(function(response) {
      $('#non_player_character_name').val(response.name);
    });
  });

  $('#randomFemaleNameButton').on('click', function(event) {
    event.preventDefault();
    $.ajax({
      type: 'GET',
      url: '/v1/random_fantasy_name',
      data: {
        random_npc_gender: 'female'
      }
    }).done(function(response) {
      $('#non_player_character_name').val(response.name);
    });
  });
</script>
