<%% title "New <%= singular_table_name.capitalize %>" %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><%%= link_to 'Dashboard', v1_dashboard_path %></li>
    <li class="breadcrumb-item"><%%= link_to '<%= plural_table_name.capitalize %>', <%= plural_table_name %>_path %></li>
    <li class="breadcrumb-item active" aria-current="page">New <%= singular_table_name.capitalize %></li>
  </ol>
</nav>
<div class="container">
  <h1>New <%= singular_table_name.capitalize %></h1>
  <%%= render 'form', <%= singular_table_name %>: @<%= singular_table_name %> %>
  <div class="admin__footer">
    <%%= link_to 'Back', <%= plural_table_name %>_path, class: "btn btn-primary" %>
    <%%= link_to 'Dashboard', v1_dashboard_path, class: "btn btn-info" %>
  </div>
</div>
