<%= bootstrap_form_for @item do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= form.text_field :name %>
  <%= form.text_area :description %>
  <%= form.number_field :weight %>
  <%= form.text_field :cost_unit %>
  <%= form.number_field :cost_value %>
  <%= form.number_field :armor_class %>
  <%= form.check_box :armor_dex_bonus %>
  <%= form.number_field :armor_max_bonus %>
  <%= form.check_box :armor_stealth_disadvantage %>
  <%= form.number_field :armor_str_minimum %>
  <%= form.text_field :category %>
  <%= form.text_field :sub_category %>
  <%= form.text_field :category_range %>
  <%= form.text_field :vehicle_capacity %>
  <%= form.number_field :vehicle_speed %>
  <%= form.text_field :vehicle_speed_unit %>
  <%= form.number_field :weapon_2h_damage_dice_count %>
  <%= form.number_field :weapon_2h_damage_dice_value %>
  <%= form.text_field :weapon_2h_damage_type %>
  <%= form.number_field :weapon_damage_dice_count %>
  <%= form.number_field :weapon_damage_dice_value %>
  <%= form.text_field :weapon_damage_type %>
  <%= form.text_field :weapon_properties %>
  <%= form.text_field :weapon_range %>
  <%= form.number_field :weapon_range_long %>
  <%= form.number_field :weapon_range_normal %>
  <%= form.number_field :weapon_thrown_range_long %>
  <%= form.number_field :weapon_thrown_range_normal %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
