<<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><%= link_to 'Dashboard', dashboard_path %></li>
    <li class="breadcrumb-item"><%= link_to 'Equipment', items_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Edit Equipment</li>
  </ol>
</nav>
<h1>Edit - <small><em><%= @item.name %></em></small></h1>
<%= render 'form', item: @item, url: @item %>
<div class="admin__footer">
  <%= link_to 'Show', @item, class: "btn btn-success" %>
  <%= link_to 'Back', items_path, class: "btn btn-primary" %>
  <%= link_to 'Dashboard', '/dashboard', class: "btn btn-info" %>
</div>
