<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><%= link_to 'Dashboard', dashboard_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Equipment</li>
  </ol>
</nav>

<h1>Equipment</h1>
<%= render 'shared/search_form', url: items_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th class="d-none d-lg-table-cell">Category</th>
      <th class="d-none d-lg-table-cell">Sub category</th>
      <th>Cost</th>
      <th class="d-none d-lg-table-cell">Weight</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td class="d-none d-lg-table-cell"><%= item.category.titleize %></td>
        <td class="d-none d-lg-table-cell"><%= item.sub_category.titleize %></td>
        <td><%= "#{item.cost_value}#{item.cost_unit}" %></td>
        <td class="d-none d-lg-table-cell"><%= item.weight %></td>
        <td>
          <%= link_to 'Show', item, class: "btn btn-sm btn-primary" %>
          <%= link_to 'Edit', edit_item_path(item), class: "btn btn-sm btn-success" if policy(item).edit? %>
          <%= link_to 'Destroy', item, class: "btn btn-sm btn-danger", method: :delete, data: { confirm: 'Are you sure?' } if policy(item).destroy? %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%== pagy_bootstrap_nav_js(@pagy) %>

<%= link_to 'New Equipment', new_item_path, class: "btn btn-lg btn-success" if policy(Item).new? %>
