<% title "Equipment: #{@item.name}" %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><%= link_to 'Dashboard', dashboard_path %></li>
    <li class="breadcrumb-item"><%= link_to 'Equipment', items_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @item.name %></li>
  </ol>
</nav>
<h1><%= @item.category %>: <%= @item.name %></h1>
<h3><%= @item.sub_category %></h3>

<p>
  <strong>Cost:</strong>
  <%= @item.cost_value %><%= @item.cost_unit %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @item.weight %>
</p>

<% if @item.description && @item.description != "" %>
  <% item_desc = @item.description.sub! 'Description:', '**Description:**' %>
  <% item_desc = @item.description.sub! 'Special:', '**Special:**' if item_desc == nil %>
  <%= markdown(item_desc ? item_desc : @item.description) %>
<% end %>

<% if @item.category == "Armor" %>
  <p>
    <strong>Armor class:</strong>
    <%= @item.armor_class %>
  </p>

  <p>
    <strong>Dex bonus:</strong>
    <%= @item.armor_dex_bonus %>
  </p>

  <p>
    <strong>Max bonus:</strong>
    <%= @item.armor_max_bonus %>
  </p>

  <p>
    <strong>Stealth disadvantage:</strong>
    <%= @item.armor_stealth_disadvantage %>
  </p>

  <p>
    <strong>Str minimum:</strong>
    <%= @item.armor_str_minimum %>
  </p>
<% end %>

<% if @item.category == "Weapon" %>
  <p>
    <strong>Category range:</strong>
    <%= @item.category_range %>
  </p>

  <p>
    <strong>Weapon 2h damage dice count:</strong>
    <%= @item.weapon_2h_damage_dice_count %>
  </p>

  <p>
    <strong>Weapon 2h damage dice value:</strong>
    <%= @item.weapon_2h_damage_dice_value %>
  </p>

  <p>
    <strong>Weapon 2h damage type:</strong>
    <%= @item.weapon_2h_damage_type %>
  </p>

  <p>
    <strong>Weapon damage dice count:</strong>
    <%= @item.weapon_damage_dice_count %>
  </p>

  <p>
    <strong>Weapon damage dice value:</strong>
    <%= @item.weapon_damage_dice_value %>
  </p>

  <p>
    <strong>Weapon damage type:</strong>
    <%= @item.weapon_damage_type %>
  </p>

  <p>
    <strong>Weapon properties:</strong>
    <%= @item.weapon_properties %>
  </p>

  <p>
    <strong>Weapon range:</strong>
    <%= @item.weapon_range %>
  </p>

  <p>
    <strong>Weapon range long:</strong>
    <%= @item.weapon_range_long %>
  </p>

  <p>
    <strong>Weapon range normal:</strong>
    <%= @item.weapon_range_normal %>
  </p>

  <p>
    <strong>Weapon thrown range long:</strong>
    <%= @item.weapon_thrown_range_long %>
  </p>

  <p>
    <strong>Weapon thrown range normal:</strong>
    <%= @item.weapon_thrown_range_normal %>
  </p>
<% end %>

<% if @item.category == "Mounts and Vehicles" %>
  <p>
    <strong>Vehicle capacity:</strong>
    <%= @item.vehicle_capacity %>
  </p>

  <p>
    <strong>Vehicle speed:</strong>
    <%= @item.vehicle_speed %> <%= @item.vehicle_speed_unit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_item_path(@item), class: "btn btn-success" if policy(@item).edit? %>
<%= link_to 'Back', items_path, class: "btn btn-info" %>
