<%= simple_form_for @magic_item, validate: true do |form| %>
  <%= form.error_notification %>
  <%= form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>
  
  <div class="form-inputs">
    <%= form.input :name %>
    <%= form.input :magic_item_type,
          collection: MagicItemOld.distinct.pluck(:magic_item_type),
          input_html: { multiple: false },
          include_blank: false,
          include_hidden: false %>
    <%= form.input :description %>
    <%= form.input :rarity,
          collection: MagicItemOld.distinct.pluck(:rarity),
          input_html: { multiple: false },
          include_blank: false,
          include_hidden: false %>
    <%= form.input :requires_attunement %>
  </div>
  
  <div class="form-actions">
    <%= form.button :submit, class: 'btn btn-success mb-3' %>
  </div>
<% end %>

<script>
  $('#magic_item_magic_item_type').select2({
    theme: "bootstrap"
  });
  $('#magic_item_rarity').select2({
    theme: "bootstrap"
  });
</script>
