<% title "New Rule" %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/app/assets/config">Home</a></li>
    <li class="breadcrumb-item"><%= link_to 'Dashboard', v1_dashboard_path %></li>
    <li class="breadcrumb-item"><%= link_to 'Rules', rules_path %></li>
    <li class="breadcrumb-item active" aria-current="page">New Rule</li>
  </ol>
</nav>
<div class="container">
  <h1>New Rule</h1>
  <%= render 'form', rule: @rule %>
  <div class="admin__footer">
    <%= link_to 'Back', rules_path, class: "btn btn-primary" %>
    <%= link_to 'Dashboard', v1_dashboard_path, class: "btn btn-info" %>
  </div>
</div>
