<div class="nested-fields">
  <div class="form-inputs">
    <div class="form-row">
      <div class="col">
        <%= f.input :name %>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <%= f.input :description %>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <%= f.association :characters,
                          collection: PlayerCharacter.joins(:campaigns).where(campaigns: {id: f.object.campaign.id}),
                          include_blank: false,
                          input_html: { class: "pc-selection" } %>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <%= f.association :characters,
                          collection: NonPlayerCharacter.where(user_id: f.object.campaign.user.id),
                          include_blank: false,
                          input_html: { class: "npc-selection" } %>
      </div>
    </div>

    <h3>Encounters</h3>
    <div class="form-row">
      <div class="p-3 border-bottom border-top" id="adventures_container">
        <%= form.simple_fields_for :encounters do |adventure_form| %>
          <%= render 'adventure_fields', f: adventure_form %>
        <% end %>
        <div class='links'>
          <%= link_to_add_association 'Add Adventure', form, :adventures, class: "btn btn-info" %>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <%= link_to_remove_association "Remove", f, class: "btn btn-warning mb-3" %>
      </div>
    </div>
  </div>
</div>