<div class="container">
  <div class="row mb-3 pb-3 border-bottom">
    <div class="col">
      <h1>Campaign: <%= @campaign.name %></h1>
      <h2><%= link_to "#{@campaign.user.name}", @campaign.user %>, Dungeon Master</h2>
    </div>
    <div class="col">
      <h2>World</h2>
      <%= @campaign.world %>
    </div>
  </div>

  <div class="row mb-3 pb-3 border-bottom">
    <div class="col">
      <h2>Description</h2>
      <%= markdown(@campaign.description) %>
    </div>
  </div>

  <div class="row mb-3 pb-3 border-bottom">
    <div class="col">
      <h2>Player Characters</h2>
      <ul class="list-group list-group-flush">
        <% @campaign.characters.where(type: 'PlayerCharacter').each do |character| %>
          <li class="list-group-item">
            <strong><%= character.name %></strong> -<%= character.level %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col">
      <h2>Non-player Characters</h2>
      <ul class="list-group list-group-flush">
        <% @campaign.characters.where(type: 'NonPlayerCharacter').each do |character| %>
          <li class="list-group-item">
            <%= character.role %>: <strong><%= character.name %></strong> - <%= character.level %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="row mb-3 pb-3 border-bottom">
    <div class="col">
      <h2>Active Players</h2>
      <ul class="list-group list-group-flush">
        <% @campaign.campaign_users.where(confirmed: true).each do |campaign_user| %>
          <li class="list-group-item"><%= campaign_user.user.name %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <% if current_user == @campaign.user && @campaign.campaign_users.where(confirmed: false).count > 0 %>
    <div class="row mb-3 pb-3 border-bottom">
      <div class="col">
        <h2>Pending Players</h2>
        <ul class="list-group list-group-flush">
          <% @campaign.campaign_users.where(confirmed: false).each do |campaign_user| %>
            <li class="list-group-item">
              <%= campaign_user.user.name %>
              <%= link_to 'Confirm', campaign_confirm_user_path(id: @campaign.id, user_id: campaign_user.user.id), method: :patch, class: "btn btn-primary ml-4", data: {confirm: 'Are you sure?'} %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <h3>Adventures</h3>
  <%= render 'shared/search_form', url: campaign_adventures_path(@campaign) %>
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th class="d-none d-lg-table-cell">Location</th>
      <th class="d-none d-lg-table-cell">Description</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @adventures.each do |adventure| %>
      <tr>
        <td><%= adventure.name %></td>
        <td class="d-none d-lg-table-cell">TBD</td>
        <td class="d-none d-lg-table-cell"><%= adventure.description %></td>
        <td>
          <%= link_to 'View', campaign_adventure_path(@campaign, adventure), class: "btn btn-sm btn-primary" %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%== pagy_bootstrap_nav_js(@pagy) if @pagy.pages > 1 %>
  <%= link_to 'New Adventure', new_campaign_adventure_path(@campaign), class: "btn btn-lg btn-success" if policy(Adventure).new? %>

  <% if current_user == @campaign.user %>
    <div class="d-flex align-items-center justify-content-start py-3 btn-group">
      <%= link_to 'Edit', edit_campaign_path(@campaign), class: "btn btn-success" if policy(@campaign).edit? %>
      <%= link_to 'Back', campaigns_path, class: "btn btn-info" %>
      <%= link_to 'Delete Campaign', @campaign, class: "btn btn-danger", method: :delete, data: {confirm: 'Are you sure?'} if policy(@campaign).destroy? %>
    </div>
  <% elsif current_user %>
    <div class="d-flex align-items-center justify-content-start py-3 btn-group">
      <%= link_to 'Join Campaign', campaign_join_campaign_path(id: @campaign.id, user_id: current_user.id), method: :patch, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>