<%= simple_form_for @campaign, validate: true do |form| %>
  <% if campaign.errors.any? %>
    <%= render 'shared/error-alert', record: campaign, record_type: "campaign" %>
  <% end %>
  <h4>
    <small>Owner:</small> <%= current_user.name %>
    <% if current_user.admin? %>
      <span class="badge badge-pill badge-success">Admin</span>
    <% elsif current_user.dungeon_master? %>
      <span class="badge badge-pill badge-info">Dungeon Master</span>
    <% else %>
      <span class="badge badge-pill badge-warning">Player</span>
    <% end %>
  </h4>

  <%= form.input :name %>
  <%= form.input :world %>
  <%= form.input :description %>
  <%= form.button :submit, class: 'btn btn-success' %>
<% end %>
