<%= bootstrap_form_for @campaign do |form| %>
  <% if campaign.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(campaign.errors.count, "error") %> prohibited this campaign from being saved:</h2>

      <ul>
      <% campaign.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h4><%= "Admin: #{current_user.name}" if current_user.admin? %></h4>
  <h4><%= "Moderator: #{current_user.name}" if current_user.moderator? %></h4>
  <h4><%= "Dungeon Master: #{current_user.name}" if current_user.user? %></h4>

  <%= form.form_group do %>
    <%= form.text_field :name, required: true %>
    <%= form.text_field :world, required: true %>
  <% end %>
  
  <%= form.form_group do %>
    <%= form.text_area :description %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
