<%= bootstrap_form_for @campaign do |form| %>
  <% if campaign.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(campaign.errors.count, "error") %> prohibited this campaign from being saved:</h2>

      <ul>
      <% campaign.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h4>
    <small>Owner:</small> <%= current_user.name %>
    <% if current_user.admin? %>
      <span class="badge badge-pill badge-success">Admin</span>
    <% elsif current_user.dungeon_master? %>
      <span class="badge badge-pill badge-info">Dungeon Master</span>
    <% else %>
      <span class="badge badge-pill badge-warning">Player</span>
    <% end %>
  </h4>

  <%= form.form_group do %>
    <%= form.text_field :name, required: true %>
    <%= form.text_field :world, required: true %>
  <% end %>
  
  <%= form.form_group do %>
    <%= form.text_area :description %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
