<%= simple_form_for @campaign, validate: true do |form| %>
  <%= form.error_notification %>
  <%= form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>
  <h4>
    <small>Owner:</small> <%= current_user.name %>
    <% if current_user.admin? %>
      <span class="badge badge-pill badge-success">Admin</span>
    <% elsif current_user.dungeon_master? %>
      <span class="badge badge-pill badge-info">Dungeon Master</span>
    <% else %>
      <span class="badge badge-pill badge-warning">Player</span>
    <% end %>
  </h4>

  <div class="form-inputs">
    <%= form.input :name %>
    <%= form.input :world %>
    <%= form.input :description %>
    <div class="form-row">
      <div class="col">
        <%= form.association :characters,
                             label: 'Player Characters',
                             collection: PlayerCharacter.where(user: form.object.users),
                             include_blank: false,
                             include_hidden: false,
                             input_html: { class: "pc-selection" } %>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <%= form.association :characters,
                             label: 'Non-player Characters',
                             collection: NonPlayerCharacter.all,
                             include_blank: false,
                             include_hidden: false,
                             input_html: {class: "npc-selection"} %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= form.button :submit, class: 'btn btn-success mb-3' %>
  </div>
<% end %>

<script>
  $("#adventures_container").on('cocoon:after-insert', function(event, addedTask) {
    loadSelect2();
  });
  $("#equipment_items_container").on('cocoon:after-insert', function(event, addedTask) {
    loadSelect2();
  });
  $("#encounters_container").on('cocoon:after-insert', function(event, addedTask) {
    loadSelect2();
  });
  $("#encounter_monsters_container").on('cocoon:after-insert', function(event, addedTask) {
    loadSelect2();
  });

  function loadSelect2 () {
    $('.equipment_item_item').select2({
      multiple: false,
      theme: 'bootstrap',
    });
    $( ".pc-selection" ).select2({
      theme: "bootstrap"
    });
    $( ".npc-selection" ).select2({
      theme: "bootstrap"
    });
    $( ".monster-select" ).select2({
      theme: "bootstrap"
    });
  }

  loadSelect2();
</script>
