<%= simple_form_for @campaign, validate: true do |form| %>
  <%= form.error_notification %>
  <%= form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>
  <h4>
    <small>Owner:</small> <%= current_user.name %>
    <% if current_user.admin? %>
      <span class="badge badge-pill badge-success">Admin</span>
    <% elsif current_user.dungeon_master? %>
      <span class="badge badge-pill badge-info">Dungeon Master</span>
    <% else %>
      <span class="badge badge-pill badge-warning">Player</span>
    <% end %>
  </h4>
  
  <div class="form-inputs">
    <%= form.input :name %>
    <%= form.input :world %>
    <%= form.input :description %>
  </div>
  
  <div class="form-actions">
    <%= form.button :submit, class: 'btn btn-success' %>
  </div>
<% end %>
