<%= simple_form_for @campaign, validate: true do |form| %>
  <%= form.error_notification %>
  <%= form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present? %>
  <h4>
    <small>Owner:</small> <%= current_user.name %>
    <% if current_user.admin? %>
      <span class="badge badge-pill badge-success">Admin</span>
    <% elsif current_user.dungeon_master? %>
      <span class="badge badge-pill badge-info">Dungeon Master</span>
    <% else %>
      <span class="badge badge-pill badge-warning">Player</span>
    <% end %>
  </h4>

  <div class="form-inputs">
    <%= form.input :name %>
    <%= form.input :world %>
    <%= form.input :description %>

    <h2>Adventures</h2>
    <div class="form-row">
      <div class="p-3 border-bottom border-top" id="adventures_container">
        <%= form.simple_fields_for :adventures do |adventure_form| %>
          <%= render 'adventure_fields', f: adventure_form %>
        <% end %>
        <div class='links'>
          <%= link_to_add_association 'Add Adventure', form, :adventures, class: "btn btn-info" %>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= form.button :submit, class: 'btn btn-success mb-3' %>
  </div>
<% end %>

<script>
  $("#adventures_container").on('cocoon:after-insert', function(event, addedTask) {
    loadSelect2();
  });

  function loadSelect2 () {

  }
</script>
