<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><%= link_to 'Dashboard', dashboard_path %></li>
    <li class="breadcrumb-item"><%= link_to 'Campaigns', campaigns_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Edit Campaign</li>
  </ol>
</nav>
<h1>Edit - <small><em><%= @campaign.name %></em></small></h1>
<%= render 'form', campaign: @campaign %>
<div class="admin__footer">
  <%= link_to 'Show', @campaign, class: "btn btn-success" %>
  <% if current_user.admin? %>
    <%= link_to 'Back', campaigns_path, class: "btn btn-primary" %>
    <%= link_to 'Dashboard', '/admin', class: "btn btn-info" %>
  <% end %>
</div>
