<% title "Campaign: #{@campaign.name}" %>
<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><%= link_to 'Dashboard', dashboard_path %></li>
        <li class="breadcrumb-item"><%= link_to 'Campaigns', campaigns_path %></li>
        <li class="breadcrumb-item"><%= link_to "#{@campaign.user.name}", user_path(slug: @campaign.user.slug) %></li>
        <li class="breadcrumb-item active" aria-current="page"><%= @campaign.name %></li>
      </ol>
    </nav>
  </div>
</div>

<div class="container">
  <div class="row mb-3 pb-3 border-bottom">
    <div class="col">
      <h1>Campaign: <%= @campaign.name %></h1>
      <h2><%= link_to "#{@campaign.user.name}", @campaign.user %>, Dungeon Master</h2>
    </div>
    <div class="col">
      <h2>World</h2>
      <%= @campaign.world %>
    </div>
  </div>

  <div class="row mb-3 pb-3 border-bottom">
    <div class="col">
      <h2>Description</h2>
      <%= markdown(@campaign.description) %>
    </div>
  </div>

  <div class="row mb-3 pb-3 border-bottom">
    <div class="col">
      <h2>Player Characters</h2>
      <ul class="list-group list-group-flush">
        <% @campaign.characters.where(type: 'PlayerCharacter').each do |character| %>
          <li class="list-group-item">
            <strong><%= character.name %></strong> - Level <%= character.level %> <em><%= character.dnd_class_string %></em>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col">
      <h2>Non-player Characters</h2>
      <ul class="list-group list-group-flush">
        <% @campaign.characters.where(type: 'NonPlayerCharacter').each do |character| %>
          <li class="list-group-item">
            <%=character.role %>: <strong><%= character.name %></strong> - Level <%= character.level %> <em><%= character.dnd_class_string %></em>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="row mb-3 pb-3 border-bottom">
    <div class="col">
      <h2>Active Players</h2>
      <ul class="list-group list-group-flush">
        <% @campaign.campaign_users.where(confirmed: true).each do |campaign_user| %>
          <li class="list-group-item"><%= campaign_user.user.name %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <% if current_user == @campaign.user && @campaign.campaign_users.where(confirmed: false).count > 0 %>
    <div class="row mb-3 pb-3 border-bottom">
      <div class="col">
        <h2>Pending Players</h2>
        <ul class="list-group list-group-flush">
          <% @campaign.campaign_users.where(confirmed: false).each do |campaign_user| %>
            <li class="list-group-item">
              <%= campaign_user.user.name %>
              <%= link_to 'Confirm', campaign_confirm_user_path(id: @campaign.id, user_id: campaign_user.user.id), method: :patch, class: "btn btn-primary ml-4", data: { confirm: 'Are you sure?' } %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if current_user == @campaign.user %>
    <div class="d-flex align-items-center justify-content-start py-3 btn-group">
      <%= link_to 'Edit', edit_campaign_path(@campaign), class: "btn btn-success" if policy(@campaign).edit? %>
      <%= link_to 'Back', campaigns_path, class: "btn btn-info" %>
      <%= link_to 'Delete Campaign', @campaign, class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } if policy(@campaign).destroy? %>
    </div>
  <% elsif current_user %>
    <div class="d-flex align-items-center justify-content-start py-3 btn-group">
      <%= link_to 'Join Campaign', campaign_join_campaign_path(id: @campaign.id, user_id: current_user.id), method: :patch, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
