<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><%= link_to 'Dashboard', dashboard_path %></li>
    <li class="breadcrumb-item"><%= link_to 'Campaigns', campaigns_path %></li>
    <li class="breadcrumb-item"><%= link_to "#{@campaign.user.name}", user_path(slug: @campaign.user.slug) %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @campaign.name %></li>
  </ol>
</nav>
<h1>Campaign: <%= @campaign.name %></h1>

<p>
  <strong>Description:</strong>
  <%= markdown(@campaign.description) %>
</p>

<p>
  <strong>World:</strong>
  <%= @campaign.world %>
</p>

<p>
  <strong>Dungeon Master:</strong>
  <%= link_to "#{@campaign.user.name}", @campaign.user %>
</p>

<%= link_to 'Edit', edit_campaign_path(@campaign), class: "btn btn-success" if policy(@campaign).edit? %>
<%= link_to 'Back', campaigns_path, class: "btn btn-info" %>
