<% title "Treasures" %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><%= link_to 'Dashboard', dashboard_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Treasures</li>
  </ol>
</nav>

<h1>Treasures</h1>
<%= render 'shared/search_form', url: treasures_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Copper pieces</th>
      <th>Silver pieces</th>
      <th>Gold pieces</th>
      <th>Platinum pieces</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @treasures.each do |treasure| %>
      <tr>
        <td><%= treasure.name %></td>
        <td><%= treasure.copper_pieces %></td>
        <td><%= treasure.silver_pieces %></td>
        <td><%= treasure.electrum_pieces %></td>
        <td><%= treasure.gold_pieces %></td>
        <td><%= treasure.platinum_pieces %></td>
        <td>
          <%= link_to 'Show', treasure, class: "btn btn-sm btn-primary" %>
          <%= link_to 'Edit', edit_treasure_path(treasure), class: "btn btn-sm btn-success" if policy(treasure).edit? %>
          <%= link_to 'Destroy', treasure, class: "btn btn-sm btn-danger", method: :delete, data: { confirm: 'Are you sure?' } if policy(treasure).destroy? %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%== pagy_bootstrap_nav_js(@pagy) if @pagy.pages > 1 %>
<%= link_to 'New Treasure', new_treasure_path, class: "btn btn-lg btn-success" if policy(Treasure).new? %>
